[2019-03-30 01:35] zwhitchcox opened #1 "lrucache.load cannot read property 'length' of undefined"
I'm getting the error:

[code]

[I've basically just followed the instructions here](https://medium.freecodecamp.org/the-easiest-ssr-with-react-and-axios-f36ed9392a8c)

The relevant server code:

[code]

The relevant client code:

[code]

[2019-03-30 01:39] zwhitchcox commented on #1
Nevermind, the problem was I forgot to serialize the cache

[2019-03-30 01:40] zwhitchcox commented on #1
This still doesn't render properly on the server side though. The data is loaded, but the app would need to be rerendered with the data loaded in order to do proper server rendering.

[2019-04-01 13:58] simoneb commented on #1
@zwhitchcox did you check the full example [here](https://codesandbox.io/s/v83l3mjq57)? it may give some clue as to why it's not working correctly in your setup

[2019-05-19 17:14] braska opened #4 "SSR: Isolate clients"
Looks like there is no isolation between clients.

All promises will be pushed to the one array:

https://github.com/simoneb/axios-hooks/blob/2c4f0e8d984d760999729708daf5447d4690e068/src/index.js#L14

So, there is unexpected behavior when multiple requests will be received.

`const cache = await serializeCache()` will wait for promises created by different requests.

[2019-05-19 20:34] simoneb commented on #4
That's the purpose exactly, if I understand what you mean. This is for SSR, where we need to wait for alla requests to complete before rendering the application on the server.

[2019-05-19 22:13] braska commented on #4
Yes, I understood the purpose of `ssrPromises` array, but...

Let's say:
1. I deployed application that uses `axios-hooks` (for example on AWS).
2. I am trying to open my application from my laptop and from smartphone on the same time. So, there are two requests for server.
3. Server receiving first request and starting to push promises to `ssrPromises`.
4. While server processes the first request

[2019-05-20 12:58] simoneb commented on #4
Oh wow, you have a very good point indeed. I'll think of something, haven't done something like this before but I'm sure there must be a reasonably easy solution. Thanks for reporting!

[2019-05-21 01:43] JTongay opened #5 "TypeScript Support"
Are there any plans for TypeScript support or at least just a definitions file for now?

[2019-05-21 09:31] simoneb commented on #5
Not really, also I don't use TypeScript so I'm not the best to create those definitions, but they should be fairly simple to implement. A PR would be welcome :)

[2019-05-22 01:16] JTongay commented on #5
Cool! I'll start working on it. Shouldn't take too long

[2019-05-24 18:19] stevewillard opened #6 "Suggested approach for PUT/PATCH/POST"
This package is great - thank you!

Do you have a suggested approach for mutations? Maybe something like `usePost` or `usePut`, which might return a function/promise.

[2019-05-24 19:26] simoneb commented on #6
Thanks! Haven't thought much about this, but I think an API I would like, rather than introducing new root level exports, is something like this:

[code]

So the existing API would be unchanged, but we could pass options as a second argument, for instance with a `skip` (or maybe `manual`) properties to indicate that the request is not triggered right away but only when the second item of the array

[2019-05-24 20:18] stevewillard commented on #6
I definitely like the merging of options - I was thinking the same thing!

Not loving the `{ skip }` option, manual is a bit better, but I like the general idea of what you're saying.

[2019-05-25 17:28] #6 closed

[2019-05-25 17:47] simoneb commented on #6
Version 1.1.0 addresses this now. More details in the updated docs.

[2019-05-25 18:10] stevewillard commented on #6
Thank you! It looks great.

[2019-05-30 13:25] stevewillard opened #7 "Feature request: fetchPolicy"
I'm running into a scenario where I could benefit from something similar to Apollo's `fetchPolicy`: https://www.apollographql.com/docs/react/api/react-apollo/

Specifically, the `cache-and-network` variant is the most useful to me, where I want to load data from the cache, but also make a network request to fetch potential updates.

Do you think it's possible to add an option like this? Ideally, i

[2019-05-30 15:33] simoneb commented on #7
Isn't this case already covered by the normal behavior of the hook together with the second item of the array returned by the hook invocation (sometimes called `refetch`) which allows you to issue the request again?

[2019-05-31 14:19] stevewillard commented on #7
Yeah, I think that would work, but I was hoping to avoid explicitly recalling refetch.

Here's the scenario I'm working with:

I have a table of data with pagination controls, where the `page` is stored in the URL as a query parameter. I'm using this hook to parse/set that query parameter: https://github.com/pbeshai/use-query-params

So, I have something like this:
[code]

When I click on a new pa

[2019-05-31 14:47] simoneb commented on #7
I see what you mean. Yes it would make sense to have something like this, but because it would be quite some additional complexity to add to the package, which at the current time is overall quite simple, and because the workaround in your case is super simple as well, I wouldn't consider this a priority. I mean it's complexity added to the package versus a one line of code on the package user.

[2019-06-07 16:25] stevewillard opened #8 "error is not reset if subsequent request succeeds"
If you make a request and it returns an error, and then make a new request, it won't reset error.

I think it's just a matter of resetting `error` during `REQUEST_START`.

[2019-06-07 17:10] simoneb commented on #8
thanks for reporting @stevewillard. can you submit a PR for this perhaps?

[2019-06-07 17:17] #7 closed

[2019-06-07 19:25] stevewillard commented on #8
Sure, I'll take a stab at it when I get a chance.

[2019-06-08 18:41] stevewillard opened #9 "Feature request: Don't request the same query twice while in flight"
I imagine this will be a bit complicated to implement, and is likely outside the scope of the library, but I figured I'd ask.

I'm working with a scenario where I would like to render an `<Avatar />` component which uses a `useAxios` hook within it to fetch information about the user. When rendering the same person's <Avatar /> man times on a single page, it issues a request for each one.

Do you

[2019-06-08 21:43] trainiac opened #10 "Doesn't wait for data before rendering"
I might be missing something but from reading the example and code these hooks don't actually allow you to render your data server side.  Yes, you can render the state of your app before you have data and these hooks will allow you to wait for data being fetched serialized to the client. However in order to achieve SEO goals you have to have the data rendered within your html.

In `graphql-hooks-s

[2019-06-10 15:50] simoneb commented on #10
That's a very good point, don't know how I missed it. I'm planning to look into this soon and release a new version that supports this scenario.

[2019-06-11 04:33] #10 closed

[2019-06-14 06:57] Horat1us commented on #9
I suppose you need to create component to store user information. It should not be resolved in libraries like this.
You can use React Context for this case.

[2019-06-20 03:38] JTongay commented on #5
#11

[2019-06-20 03:57] simoneb commented on #5
Addressed in #11

[2019-06-20 03:57] #5 closed

[2019-06-28 13:45] huchenme opened #12 "Conditionally call this hook"
As it is not recommended to call hooks in a condition, is there any way to use this hook in certain condition?

[code]

[2019-06-28 15:11] simoneb commented on #12
Yes, see [here](https://github.com/simoneb/axios-hooks#manual-requests)

[2019-06-30 13:26] #12 closed

[2019-06-30 13:27] #1 closed

[2019-07-11 15:37] 8enSmith commented on #8
I encountered the same issue and decided to create a PR to fix it. Pretty sure it fixes the issue (test proves the case anyhow!). Another set of eyes reviewing the PR wont harm.

[2019-07-12 12:38] simoneb commented on #8
closed via #15 and fixed in version 1.1.3

[2019-07-12 12:38] #8 closed

[2019-07-16 12:30] 8enSmith commented on #5
I found that the typings were missing the definition for the optional "options" parameter. I've created the PR above to update the TypeScript typings to include it.

[2019-07-16 18:53] conor909 commented on #9
Yea it sounds like you just need to move the request to a parent and then pass the results to the Avatar and the Man Hours component, either through props or Context as Horat1us suggests

[2019-07-17 15:32] 8enSmith opened #19 "Feature request: Enable caching for manual requests"
When using manual mode (i.e. when the manual option is set to true) the execute function returned does not use the cache i.e.

[code]

It would be great if a user could choose to use the manual execute function which _does_ have caching enabled.

The scenario I have is where a user can undo an operation, which manually triggers execute, but I'd like to use a cached result instead of going back to

[2019-07-17 15:34] simoneb commented on #19
Not sure I see understand the scenario. The assumption is that if you execute the query manually, then surely you want to execute it, right?

[2019-07-17 15:39] 8enSmith commented on #19
So I have a page using a input control. When I enter data into the control it triggers an onChange event where the handler then makes use of execute. If a user deletes text from the control then execute (returned from useAxios) will correctly get called, however I'd like to use a cached result instead of going back to the server to recalculate the result.

[2019-07-17 16:24] simoneb commented on #19
Okay that makes sense now. So this would be a breaking change if we change the manual query to use the cache by default. Let me think if there is a non-breaking way to introduce it, otherwise I'll have to bump major.

[2019-07-17 22:41] 8enSmith commented on #19
Yes, either the behaviour of manual option would need to change or you'd need to introduce an additional option to control the caching.

The minor criticism I have (the work you've done on this repo is great!) is that I'd expect consumers (e.g. me!) would expect that the manual option just controls whether the hook runs automatically or not. I was surprised when I looked at the code to find that a

[2019-07-17 22:54] simoneb commented on #19
@8enSmith fair point. the reason why it behaves like that is that historically that function was called `refetch` and it was used to, well, refetch the data of a query, and for that reason no caching in there was the only sensible behavior. Once the manual option was introduced that's not the only sensible behavior anymore though, but that's where it's coming from.

[2019-07-17 23:00] simoneb commented on #19
@8enSmith can you have a look at #20 and let me know what you think? briefly, I extended the signature of the "refetch" function to accept an optional second parameter (the first is axios options overrides and needs to stay there) which allows to use the cache. it's off by default to avoid breaking changes and because I still think that it's the safe default

[2019-07-18 09:41] 8enSmith commented on #19
I'd suggest giving users an option to opt in to caching for the standard or refetch behaviour, but its your call; I won't be surprised if someone asks for caching to be switchable for the standard hook behaviour.

I'll review the PR as it sounds like it'll fix the problem I have in my scenario.

[2019-07-18 14:14] #19 closed

[2019-08-05 05:58] ArmPamKtu opened #23 "Has no exported member "configure" and property "response" in Typescript"
In our terminal we get:
1. Property 'response' does not exist on type 'ResponseValues<any>' when using useAxios

![response_error](https://user-images.githubusercontent.com/36636744/62441971-eb0fc980-b75e-11e9-987c-d3a3eddca691.png)

2. The Module "../../path/node_modules/axios-hooks" has no exported member configure.

![configure_not_exported](https://user-images.githubusercontent.com/36636744/62

[2019-08-05 17:54] #23 closed

[2019-08-05 17:55] simoneb commented on #23
Released this together with test coverage for typings correctness in 1.3.0.

[2019-08-07 16:45] malexdev opened #26 "Feature request: initial data"
I love this library, thanks for sharing!
One thing that I think would be very helpful is if the `useAxios` hook accepted an option for initial data with which to populate the request.

For example, let's say I have a request that returns an array of objects, from which I am generating a table. I currently need to do something like:
[code]

It would be nice if I could do something like `const [req]

[2019-08-07 16:51] simoneb commented on #26
hey, thanks! wouldn't the `loading` flag allow you to do this?

[2019-08-07 18:12] malexdev commented on #26
`loading` definitely also solves this issue, yes.

I was thinking for interfaces where the loading flag isn't really necessary to use - for example a table of data that almost always populates relatively instantly doesn't necessarily need to show a loading indicator, so having an initial data set could make it a little simpler instead of having to conditionally render an empty table based on the l

[2019-08-07 18:14] simoneb commented on #26
You don't have to conditionally render, you can simply use the loading flag as the conditional to provide either empty data to the table or the data coming from the response.

[2019-08-07 18:25] #26 closed

[2019-08-07 18:26] simoneb commented on #26
Yes precisely. Don't forget to handle errors too though. You're welcome!

[2019-08-07 20:08] sbussard opened #27 "Add documentation for implementing onUploadProgress"
Please add documentation for implementing onUploadProgress so developers can use upload percentage indicators

[2019-08-07 22:23] simoneb commented on #27
you only need to provide the config you want to `useAxios`. see the [axios](https://github.com/axios/axios#request-config) docs for that

[2019-08-07 22:23] #27 closed

[2019-08-11 15:28] Guguskis opened #28 "Question: how to execute code after getting a response?"
I am beginner developer and this might be a dumb question. All I want is to call a function after getting a response.
My current solution is to use useEffect:
[code]

I don't know if that is a good way or not, but I would prefer to do it something like this:
[code]
The second solution in VS Code spits out error "Property 'then' does not exist on type 'void'.".
Is there a way to do this with axios

[2019-08-12 09:05] simoneb commented on #28
the hooks way would be to use effect, but it should already be possible to await the promise returned by the refetch function. check out [this example](https://codesandbox.io/s/wizardly-saha-4vshd).

[2019-08-12 10:31] Guguskis commented on #28
Thank you, this example helped :)

[2019-08-12 10:31] #28 closed

[2019-08-17 13:49] pupudu opened #30 "SSR does not work"
Hello there, thank you very much for the efforts put into this so far.

I played with this library today and I am puzzled if this actually works on the server-side. I'll explain what I tried so far. Perhaps, I did something wrong. Perhaps, it's an issue with the bundler setup. Perhaps, React is not mature enough to support this functionality.

1. First, I created a new app with Razzle: https://git

[2019-08-17 14:01] #9 closed

[2019-08-20 13:28] sainer opened #31 "Cleanup after response"
When I manually execute request and useAxios return me const object it is filled with response data until next response (next response change response data). For example I want to check response status code, but what if my functional component is next rendered by an another cause and I dont't want to checking reponse again. I want only one response checking durin first render after reponse but not

[2019-08-20 14:11] STotev commented on #26
It's best to have initial state of the whole object instead of conditionally creating it.

There are many examples which makes the `loading` check a little bit inconvenient. If you are waiting for an array response and you do calculations with the expected `data`, it'll fail until you get a response. It'll be very inconvenient of always checking the `loading` state before using the `data`. If you

[2019-08-20 14:52] simoneb commented on #26
@STotev  What this package is doing is the same as pretty much all other Hooks libraries that allow you to interact with an external service do. Can you share an example of the loading flag making the code so much harder to write?

[2019-08-21 08:23] STotev commented on #26
It's not about "so much harder". It's about cleanliness and redundancy. I am not here to have an argument with anyone. I am not the author, it's your decision what to do. I am just pointing the obvious.

[2019-08-21 08:36] simoneb commented on #26
@STotev can you share your approach so we can see what is the obvious way of doing things?

[2019-08-21 08:54] STotev commented on #26
Let's say you have a calculation(say filtering and sorting results) which you want to memoize using `useMemo()`. Every time you change the `data`(updating a record or removing it) you need to trigger `useMemo()` again so to recalculate the changed data.
Without having `data` as a dependency on `useMemo()` I can't use the recalculation. In this case `loading` doesn't help because it's going to chan

[2019-08-21 10:40] simoneb commented on #26
yes that would be very useful, thanks!

[2019-08-21 12:27] simoneb commented on #31
Wouldn't relying on the `loading` flag allow you to carry out this logic?

[2019-08-21 12:51] sainer commented on #31
It depends on when loading flag is set to false. Currently I'm using useState and my own state flag to check is component rendering after successful request. I do it in if clause. I'm checking response.status and if it's as 200 code then I'm setting this flag to true. Initially this flag is also true, and it's set to false only if the app manually execute HTTP request (axios manual method)  - I do

[2019-08-21 12:59] simoneb commented on #31
Can you provide an example? Explaining code in words is not easy to follow.

[2019-08-21 13:06] sainer commented on #31
This is my actual sample code
`
.......
  const [requstFinished, setReqestFinished] = useState(false);
  const tickerInput = props.channel.ticker_text
  const [ticker, setTicker] = useState();
  useEffect(() => {
      setTicker(props.channel.ticker_text);
  }, [props.channel.ticker_text])
  const [ { response: putResponse, loading: putLoading, error: putError }, executePut ] = useAxios(
    {

[2019-08-21 13:30] simoneb commented on #31
executePut will return a promise that will tell you when the request has completed. will that help?

[2019-08-21 13:40] sainer commented on #31
Yes. It's perfect solution. Thanks for help. I changed my code and it works fine

[2019-08-21 13:46] #31 closed

[2019-09-13 15:42] 8enSmith opened #32 "Testing: How to test component which uses useAxios when using TypeScript in Jest?"
Ok, this is not an issue with the library, it's a question on how it can be mocked when using it in a React component. I'm using TypeScript which appears to be further complicating the matter (for me anyhow!)

I've created a question on StackOverflow too as can be seen [here](https://stackoverflow.com/questions/57926493/how-to-test-a-component-which-is-using-a-custom-react-hook).

I'd have thought

[2019-09-14 10:36] simoneb commented on #32
This question is not relevant to the project. There's nothing specific to axios-hooks that you need to do to test a component which uses it.

[2019-09-14 10:36] #32 closed

[2019-09-29 05:53] verekia opened #33 "Option to disable cache"
Hi, thank you for the hook! Loving it.

I am running into a blocker though, as I am trying to use `useAxios` but it seems like it's impossible to disable caching for normal (not refetched) calls.

My API endpoint doesn't always return the same thing, which is a very common situation.

In my particular case, when I log out, `useAxios` still returns all the same data as when the user was logged in a

[2019-09-29 05:55] verekia commented on #19
Opened an issue at #33 for that scenario :)

[2019-09-29 08:53] LiaoJimmy opened #35 "How to mock axios response if we use axios-hooks?"
Hello, I try to mock axios response by:
@react-mock/xhr: https://github.com/ctimmerm/axios-mock-adapter
axios-mock-adapter: https://github.com/ctimmerm/axios-mock-adapter
and enve jest mock: https://jestjs.io/docs/en/mock-functions#mocking-modules
They all mock axios response failed.

Do you have any example to mock axios if we use axios-hooks?

### My example code:
[code]

And here is the test fi

[2019-09-30 09:29] simoneb commented on #35
If you're using this library don't mock axios, mock this library via jest

[2019-09-30 10:19] LiaoJimmy commented on #35
Thanks. I'll try to mock axios-hooks response array.

[2019-09-30 10:19] #35 closed

[2019-10-12 14:28] simoneb commented on #33
Hi, sorry for the delay. This requires more details. By disabling cache, what do you mean exactly?

At the current time the hook is executed whenever the configuration (url and other request options) change. It wouldn't make sense to re-execute the hook every time that the component renders. So I presume that what you're saying is, when the component is re-mounted, which would execute the hook, in

[2019-10-12 14:42] simoneb commented on #33
Meanwhile, I went ahead and added tests by building on top of your PR here: #37.

I'm still not sure exactly what value this provides though, I'd like to hear your thoughts based on the previous comment.

[2019-10-12 14:49] verekia commented on #33
For a given URL and request options, APIs may not always return the same data. Data may evolve over time, and an application might require to always get the latest data. Unless I am mistaken it seems impossible to use the hook if for instance, we run it on a homepage that would call, let's say `/get-latest-posts`. When navigating back and forth between such homepage of the app and other pages, we

[2019-10-12 14:54] verekia commented on #33
When I use Apollo Client, I prefer to disable the cache completely with a `network-only` fetch policy, because it is more valuable in my use case to be 100% sure we always get the latest data, than saving some requests.

[2019-10-12 14:55] simoneb commented on #33
Thanks for confirming @verekia. Note that his is already possible by using the `manual` option and the `execute` function that is returned by the hook. For instance, in your component, you could easily do:

[code]

You would achieve the same as with this new option we're discussing. I appreciate it's additional code you have to write though.

[2019-10-12 15:02] verekia commented on #33
Thank you. Well it's true that it would work, but for me one of the main added value of this kind of network hook is to not have to use `useEffect`, which just feels so heavy after having had the pleasure to write lightweight code with network hooks. Functional components code are getting quite big now with hooks, so even those extra 3 lines of code have a cost for the codebase maintenance. My 2 c

[2019-10-12 15:08] simoneb commented on #33
@verekia can you review #37 then please?

[2019-10-12 15:47] #33 closed

[2019-10-12 15:51] simoneb commented on #33
released in version 1.4.0

[2019-10-15 16:52] chris-visser commented on #30
Figured the same thing. Its only pre-loading the data to prevent a client fetch.

[2019-10-17 08:48] gtolarc opened #38 "UnhandledPromiseRejectionWarning on Server side"
If I use useAxios on nextjs server side, if the call returns an error, an unhandled promise error will occur.
Is there any error handling in the execution of the ssrPromises array?

[code]

[2019-10-18 08:01] simoneb commented on #38
There currently isn't, as you can see here

https://github.com/simoneb/axios-hooks/blob/9f5a6cedf50b4326c779e3578bdd8ed364e49853/src/index.js#L36-L44

What would be a reasonable thing to do? I guess not much except swallowing the exception.

[2019-10-18 09:46] gtolarc commented on #38
I think I misjudged the point where the error message appeared.
https://github.com/simoneb/axios-hooks/blob/8593fcd8567f41f47807b31d9d73a5855e7fc907/src/index.js#L134
Even though this code is executed on the server side even if it is option:manual.
Could you modify it to exclude if option:manual? @simoneb

[2019-10-18 10:14] simoneb commented on #38
yeah there's definitely a bug there. wanna send a PR perhaps? (with tests please)

[2019-10-18 21:03] davidwilson3 opened #39 "Constant updates make useEffect and useCallback impossible to implement"
For example, I have an Axios-hook like this:

[code]

The React application I am working on has multiple different child components that can send updates to the backend API.  We are utilizing a timestamp and useEffect to get any changes made to the data source:

[code]

The issue is that this useEffect will run thousands of times per second.  It doesn't matter if I wrap onRead into another functio

[2019-10-19 07:35] simoneb commented on #39
Can you post a realistic source code example?

[2019-10-19 15:27] simoneb commented on #38
The bug with manual requests being executed on the server is now addresses in version 1.4.1

[2019-10-19 15:27] #38 closed

[2019-10-21 14:03] davidwilson3 commented on #39
Here's a little more detail.  If you need an even deeper example, I can try to provide that later tonight.

[code]

Our application needs to update the a table holding the metadata every time either the user or a certain timestamp variable changes.  The timestamp is changed by another component and it is the way we notify this component that the metadata needs to be get an update from the back-end

[2019-10-21 16:08] simoneb commented on #39
Thanks for the details, I can see the issue now. Yes, the function returned by the hook is indeed a new function every time the hook is executed, hence why you're experiencing this behavior.

I can try to find a way to prevent this from happening. In the meanwhile, have you tried ignoring the eslint rule and omit the `onReadMetadata` function from the list of dependencies in your `useEffect` hook?

[2019-10-21 16:45] davidwilson3 commented on #39
Thank you, I appreciate you taking a look at this.

Yes, I have tried excluding it from the dependencies and it does work as desired.  So thankfully there is a working solution and this won't by any means be breaking the application.  Long term, it would be nice to follow the general guidelines as I think there probable is some type of performant, memoized solution for this (though I don't have th

[2019-10-21 16:47] simoneb commented on #39
Yes let's use that as a mitigation and meanwhile let me check what it would take to make that function keep its reference rather than being created every time.

[2019-10-22 18:06] simoneb commented on #39
@davidwilson3 I published a prerelease version where I tried to address this issue. It's available as version 1.5.0.0-0, can you try it out and let me know if it fixes the issue?

[2019-10-22 19:04] davidwilson3 commented on #39
@simoneb Sure thing, I'll check as soon as I get a chance.  Thanks for looking at this so quickly.

[2019-10-22 19:33] davidwilson3 commented on #39
This appears to have fixed the issue.  I tested it a few different ways and it now works great with useEffect and useCallback.

Thank you.  Feel free to close this issue.

[2019-10-22 20:33] simoneb commented on #39
Thanks for confirming. I will release a non-prerelease version with this fix soon.

[2019-10-23 10:51] jtparrett opened #51 "execute/refetch should be async"
I would like the ability to await refetch/execute and receive the response data in return.

[code]

[2019-10-23 13:46] astone123 commented on #51
I'd also like the option to do this. I want to be able to catch the error thrown by the Axios call in my form submit handler.

eg.

[code]

[2019-10-23 15:19] davidwilson3 commented on #51
I was able to achieve this using the transformResponse portion of the execute function:

[code]

[2019-10-23 20:03] simoneb commented on #39
Fixed in version 1.5.0.

[2019-10-23 20:03] #39 closed

[2019-10-23 20:50] #51 closed

[2019-10-23 20:52] simoneb commented on #51
Addressed in version 1.6.0

[2019-10-24 13:53] jtparrett commented on #51
@simoneb thank you for the quick update, you're a hero :pray:

[2019-10-28 07:30] sieglingm commented on #30
Also thanks from my side for your effort and work. But I agree with above statements: That is not server side rendering. For that the html code has to be rendered with data already on server side which is not the case. The data fetching on server side works, the cache is correctly filled on client side on the initial prerendered page.
But I have another problem: The option 'useCache=true' does not

[2019-10-28 09:11] simoneb commented on #30
I am aware of this issue, I've reproduced it but I've postponed work on it because I figured it would require a considerable rewrite of the caching layer, which is now relying on axios's built-in caching mechanism and which cannot work in SSR scenarios. I'm planning to work on this at some point, but I don't know when yet. Of course, any PR is more than welcome and I'm available to provide impleme

[2019-10-28 09:12] simoneb commented on #30
If this is a different issue, can you please file a new one?

[2019-11-08 10:11] chris-peerman opened #74 "Reports the error ' Can't perform a React state update on an unmounted component'"
[code]

Example here [test-axios-hook.zip](https://github.com/simoneb/axios-hooks/files/3824047/test-axios-hook.zip), to use the example:
1. Run the example
2. In Chrome devtools click Network, and set the Throttling to 'Slow 3G'
3. Click 'Reload' and before it completes click 'Hide'

You'll then get the following error:
![image](https://user-images.githubusercontent.com/1798567/68468523-1b5c7d80-

[2019-11-08 10:16] chris-peerman commented on #74
This relates to the recent pull request https://github.com/simoneb/axios-hooks/pull/67 which was aimed at fixing this.

[2019-11-10 17:05] simoneb commented on #74
@chris-peerman thanks for the repro. can you check if the latest prerelease version 1.7.2-0 fixes the issue?

[2019-11-11 10:06] chris-peerman commented on #74
Thanks @simoneb I've tried it using the test harness. I'll integrate it soon into our app and make sure it is working there too.

[2019-11-13 08:47] hsz opened #80 "CancelToken property not available in custom axios instance"
After latest update related to the `CancelToken`, there is an issue with:

https://github.com/simoneb/axios-hooks/blob/307c7c1565e9f2d36f0e90bd19a86815dde2d8ce/src/index.js#L148

Everything works when you use `AxiosStatic`, imported directly from `axios.
But when you pass your own instance through the options, like:

[code]

it is `AxiosInstance` used which doesn't contain `CancelToken` property a

[2019-11-13 19:00] arielserafini commented on #80
I've stumbled upon the same issue. Ultimately had to downgrade to 1.5.0.

[2019-11-13 20:13] #80 closed

[2019-11-13 20:15] simoneb commented on #80
Fixed in 1.7.2

[2019-11-13 20:15] simoneb commented on #74
Fixed in 1.7.2

[2019-11-13 20:15] #74 closed

[2019-11-13 20:17] hsz commented on #80
Commit looks fine, I'll test it tomorrow. Thanks!

[2019-11-14 12:30] badtant opened #82 "Manual true doesn't fire request"
So I have the hook below with manual set to true. When running executeGet loading is set to true but the request doesn't happen.

[code]

If change to move the config to the execute it does fire. Is this expected or a bug?

[code]

[2019-11-14 12:47] simoneb commented on #82
works correctly [here](https://codesandbox.io/s/axios-hooks-issue-82-repro-w0ct2).

[2019-11-14 12:58] #82 closed

[2019-11-14 14:28] DarynHolmes opened #83 "How should we handle errors on manual requests?"
Thanks for the library!

I have a question around this example:
[code]

If there is an error calling `executePut` then we could end up with the following error

[code]
I was not expecting an error to be thrown, as the hook sets the error. Is this how I should handle this error, or am I doing something wrong?

[2019-11-14 14:31] simoneb commented on #83
Fair point. It's been requested in https://github.com/simoneb/axios-hooks/issues/51 that the manual fetch function returns the promise, which makes sense to me because if you do a manual fetch you may also want more control about what happens when the promise resolves/rejects. But this also means that if there's a rejection and you're not interested into it you need to swallow it somehow.

Unfortu

[2019-11-14 14:40] DarynHolmes commented on #83
I thought it might be a deliberate design choice. It can be quite nice to get the actual promise.

I guess you could passing another option like this:

[code]
There is not need to over complicate this for me, at the moment I am using:

[code]

[2019-11-14 14:42] simoneb commented on #83
I guess the additional configuration option is one possible way but it doesn't feel like it deserves so much attention at the current time, I would like to keep things simple. If there's demand for this feature I may reconsider it. Thanks for reporting though!

[2019-11-14 14:42] #83 closed

[2019-11-14 14:49] DarynHolmes commented on #83
I might just do this

[code]

[code]

[2019-11-14 14:50] DarynHolmes commented on #83
Or just catch the promise like in a standard way....

Thanks again for the library.

[2019-11-18 07:16] xian107 opened #88 "stringifiedConfig 作为useEffect依赖有什么用？"
`  const stringifiedConfig = JSON.stringify(config)`
`React.useEffect(() => {
       ...
  }, [stringifiedConfig])`
`const refetch = React.useCallback(
    (configOverride) => {
     ...
    [stringifiedConfig]
  )`
请问这个stringifiedConfig是个常量，放进useEffect依赖并没有什么用处？还有refetch这个函数，当我页面上点击事件触发这个函数之后，因为不是在useEffect中，所以refetch是没办法取消请求。如果refetch()请求没有返回之前，用户切换了页面，就会造成内存泄露

[2019-11-18 07:19] #88 closed

[2019-11-22 07:45] MichaelKheel opened #93 "How to record in state?"
Hello, I wanted to use this module, but I didn’t understand how to write the state to the react hooks, because an error of endless re-rendering appears. In the usual use of axios, this was done in useEffect(), can show a simple example of how to record the state using your module ?

[2019-11-22 08:45] simoneb commented on #93
Can you explain better what you're trying to do? You can find a few examples linked from the readme file, is your case not covered there?

[2019-11-22 11:17] MichaelKheel commented on #93
This is my current state recording option. How do I rewrite this code so that it works with axios-hooks?

[code]

[2019-11-22 13:23] simoneb commented on #93
That's a very simple use case, if you had read the first few lines of the documentation you would know how to do it. But here you go:

[code]

[2019-11-22 17:26] MichaelKheel commented on #93
I understood this immediately, but this does not solve my problem with the state of the component.
There may be different code in the code for changing the state of the component, previously I did this simply using the state "setMessage()", but with your module, it won’t work out that way?

[code]

[2019-11-22 17:31] simoneb commented on #93
I'm sorry, but this has nothing to do with this package.

[2019-11-22 17:31] #93 closed

[2019-11-23 13:33] CloudPower97 opened #98 "Multiple axios instances"
Hello @simoneb ,
is there a way to use multiple `axios` `instances`?
As far as I understand, [ `configure` ](https://github.com/simoneb/axios-hooks#configuration)accept a single instance.
Is there something I'm missing or is this funcionality not present ATM?
Is it going to be possible?
Maybe something like:
[code]

(In either cases defaults to firstInstance if not specified)

and then use it like

[2019-11-26 16:36] simoneb commented on #98
can you explain what would be the use case you're trying to accomplish?

[2019-11-26 22:42] CloudPower97 commented on #98
For example, in one of the projects I'm working on now, we have to make `AJAX` requests to both our private `API` and another external service.
To accomplish this task I usually create two custom instances of `Axios`, something along the lines of this:

#### ourApi.js
[code]

#### externalService.js
[code]

Now, without `axios-hooks` I would have imported the right instance in the needed component

[2019-11-27 09:59] simoneb commented on #98
Yeah the scenario is a reasonable one, I think I would prefer to go with a hook creator, exported as a named export from the package, something along the lines of:

[code]

What do you think?

[2019-11-28 22:37] simoneb commented on #98
I'm working on a PR to add this, please check it out and let me know if you have thoughts. #100

[2019-11-29 10:50] CloudPower97 commented on #98
Hey, @simoneb , thanks for the quick `P.R`.
I'd like to have a glimpse of how we are supposed to `makeUseAxios`.
Do we have to configure it once?
Do we have to use `makeUseAxios` and the returned `useAxios`  multiple times?

[2019-11-30 22:15] simoneb commented on #98
@CloudPower97 see #100 and the updated README which includes an [example](https://codesandbox.io/s/axios-hooks-makeuseaxios-kfuym). Would this work for you?

[2019-12-04 09:56] simoneb commented on #98
@CloudPower97 do you have any thoughts on this?

[2019-12-05 22:50] CloudPower97 commented on #98
Hey, @simoneb, sorry for this late answer.
I finally had a chance to try version `1.8.0-0`.
I've forked your CodeSandbox example and things went really smooth.
However, on the aforementioned project, I have got the following error:
[code]
The code that is throwing this error is:
[code]
where `useApi` is what `makeUseAxios` gives me back, and `Colture` is a `TS` `interface`.
Worth noting that `useA

[2019-12-06 08:46] simoneb commented on #98
Can you please post the error in full? I can't see what the compiler is complaining about.

[2019-12-06 09:43] CloudPower97 commented on #98
Hey @simoneb, I've create a [sandbox](https://codesandbox.io/s/react-typescript-38m8p) as well, you can have a look at it whenever you want.
I've tried `useAxios` as well, and it has the same exact problem, but if I switch back to the previous version everything works fine.
It has to be something about this latest version.

[2019-12-06 10:42] simoneb commented on #98
@CloudPower97 thanks for checking. There was indeed a problem with the TS type definition. Fixed in 1.8.0-2. Can you update and try again?

[2019-12-06 12:28] CloudPower97 commented on #98
@simoneb Everything works fine now, thank you!

[2019-12-06 12:35] simoneb commented on #98
@CloudPower97 thanks for helping to troubleshoot the issue! I'll release this feature soon.

[2019-12-06 14:28] #98 closed

[2019-12-09 13:12] captrespect opened #110 "Custom reducer and default initial values"
Sometimes I need to modify the data after it's returned from the webservice before rendering.  It would be nice to pass in a custom reducer to handle this, unless you know of a better way.

It would also be nice to pass in a the initial data that is returned for rendering before the call is made.  Most of the time this would be an empty object or empty array.  It would save me from having to check

[2019-12-09 13:17] simoneb commented on #110
Ok let's keep them as 2 different issues:

1) can you use an axios response transformer for this? https://github.com/axios/axios#request-config
2) it's been asked [before](https://github.com/simoneb/axios-hooks/issues/26) but the author didn't go as far as explaining how it would be beneficial. This wouldn't be a big change but I'm wondering if it's needed. Isn't the `loading` flag covering this a

[2019-12-09 13:41] explorer2309 opened #111 "How to mock axiosHook for testing?"
This is not a bug, but I am not sure where else to ask the question -

How can I mock the call to axios-hook for testing purposes using Jest?

Thanks!

[2019-12-09 13:42] simoneb commented on #111
You can mock it in the same as you would mock anything else `jest.mock('axios-hooks')`

[2019-12-09 16:46] captrespect commented on #110
The transformer for axios does look like a better place for that.  Thanks!

I did try using the loading flag, but I think because the form renders before the call is even made I think was getting the undefined for the data, and false for loading.  I'd have to check again.

Either way I was trying to get rid of the extra check before rendering.  It wouldn't matter if it was the loading flag or chec

[2019-12-09 16:46] #110 closed

[2019-12-09 16:59] simoneb commented on #110
@captrespect on point 2) you're right, an additional option would make it slightly easier but I think it's redundant with what you can already do with the loading flag. I realize that the code you'd have to write if we had this option would be slightly nicer, but I don't find the alternative to be so bad as to justify having an additional option

[2019-12-10 10:51] explorer2309 commented on #111
Thank you. I will investigate this.

[2019-12-10 10:51] #111 closed

[2019-12-10 10:57] simoneb commented on #111
The default export is simply a function, so you can easily mock it and control its behavior in the standard Jest way:

[code]

[2019-12-10 23:25] CloudPower97 commented on #110
Hey, @simoneb @captrespect, I was just reading the repo issues and stumbled upon this.
To me, it seems that the second request can be accomplished simply using [`default parameters`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Functions/Default_parameters#Destructured_parameter_with_default_value_assignment).
For example:
[code]

Until the new `data` get fetched from `axios`

[2019-12-17 12:13] pablonunezg opened #118 "Cache is not working"
I tried to use the cache and this is not working for me.

I attached the index.js and App.js and the versions from packages that I am using.

I put this in index.js

const axios = Axios.create({
    baseURL: 'https://api.myjson.com/',
})

const cache = new LRU({ max: 10 })

configure({ cache, axios })

and the following in App.js

import React, { useState } from 'react';
import './App.css';

impor

[2019-12-17 12:33] simoneb commented on #118
It would be good if you could create a repro on CodeSanbox for instance. In any case, from a quick looks it seems that you're expecting that refetching uses the cache, which is doesn't by default.

See the [docs](https://github.com/simoneb/axios-hooks#useaxiosurlconfig-options) and notice the difference between the `useCache` option, which can occur in 2 places:

- when invoking the hook (it's tru

[2019-12-17 13:34] pablonunezg commented on #118
many thanks for your help!!  this is working now :)

[2019-12-17 13:34] #118 closed

[2019-12-17 14:00] chickenwing opened #119 "Broken link in documentation"
In the https://github.com/simoneb/axios-hooks#api-1 section the "The error value" link has a typo in the url and leads to https://github.com/axios/.axios#handling-errors instead of https://github.com/axios/axios#handling-errors

thx for this library!

[2019-12-17 14:03] #119 closed

[2019-12-20 22:21] iquirino opened #128 "[Feature Request] Progress Percentage"
Any way to receive the current Progress and then attach it to a Progress Bar o something like that?

Thank you!

[2019-12-20 22:24] simoneb commented on #128
You can do this with axios by providing appropriate configuration. https://github.com/axios/axios/blob/master/examples/upload/index.html

[2019-12-20 22:24] #128 closed

[2019-12-20 22:30] iquirino commented on #128
This is not what i'm requesting...
See this:

const [{ data, loading, error, **progress** }, refetch] = useAxios({...});

[2019-12-20 22:34] simoneb commented on #128
To do that we would have to attach a progress handler to every axios request. Doing it with axios is so simple that it doesn't feel like it deserves a specific feature.

[2019-12-23 00:25] iquirino commented on #128
Can you show me a example of how to do this? I want to extend your hook with a new hook called useAxiosWithProgress, is it possible? Your solution is very nice, but this is a requested feature to my product...

[2019-12-23 00:26] iquirino commented on #128
i don't want to interface directly with axios... This is the purpose that I am using your hook...

[2019-12-23 15:47] iquirino commented on #128
Nice answer!!

[2019-12-25 01:09] pkellner opened #130 "Can't figure out how to attach completion event to PUT code"
With your example here:  https://www.npmjs.com/package/axios-hooks#manual-requests
[code]
I want to to do work (update my own state) when the executePut completes. That is, something like passing a callback to `updateData(myCallback)` or `updateData().then(() => console.log('done'))`

Sorry for posting as an issue, but i've looked at the source and docs and it's not obvious how to do this.  When c

[2019-12-25 02:29] simoneb commented on #130
`executePut` returns a promise, have you tried that?

[2019-12-25 03:19] pkellner commented on #130
Thanks.  Didn’t know that or recognize in the source.  I’ll try that.

[2019-12-25 14:00] pkellner commented on #130
Works perfect.  Thanks.

[code]

[2019-12-25 14:00] #130 closed

[2019-12-27 18:54] CloudPower97 opened #134 "Is it possible to specify the shape of params object?"
Hello,
I'm recently using `TypeScript` and `axios-hooks` a lot and I was wondering:

is there a way to constraint the `params` with an `interface` or a `type`?

Actually, with `axios-hooks` it is possible to specify an `interface` for the response like that:

[code]

I  was thinking about something like that:

[code]

Doing so  we can have a nice `error` in situations like this:

[code]

What do y

[2019-12-27 18:58] simoneb commented on #134
Feels overkill, not planning to support this unless there are more requests for this feature.

[2020-01-08 10:05] renovate[bot] opened #145 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: undefined. Note: this is a *nested* preset so please contact the preset author if you are unable to fix it yourself.

[2020-01-08 10:08] renovate[bot] opened #146 "Dependency Dashboard"
This issue contains a list of Renovate updates and their statuses.

## Pending Status Checks

These updates await pending status checks. To force their creation now, check the box below.

 - [ ] chore(deps): update dependency @types/react-dom to v17.0.5

## Ignored or Blocked

These are blocked by an existing closed PR and will not be recreated unless you click a checkbox below.

 - [ ] [chore(dep

[2020-01-15 09:28] 341 opened #151 "Interceptors?"
how to add `interceptors`?

[code]

[2020-01-15 09:36] simoneb commented on #151
https://github.com/simoneb/axios-hooks#configure-cache-axios-

[2020-01-15 09:36] #151 closed

[2020-01-18 15:39] crofoot opened #155 "Adding headers after axios instance is created"
As the title says I was wondering if there is a way to add headers after an instance is created? So for example before the user authenticates I don't have an authorization header. But once they login I want to inject the authorization header into the current instance. Any help would be greatly appreciated!

[2020-01-18 15:44] simoneb commented on #155
There are a few ways to do this. By default `axios-hooks` used the default axios instance, which you can import anywhere else in code with `import axios from 'axios'`. In that case you can provide [global defaults](https://github.com/axios/axios#global-axios-defaults) or even use an interceptor.

Another way would be to use a custom axios instance and [`configure`](https://github.com/simoneb/axios

[2020-01-18 16:18] crofoot commented on #155
Thanks that worked! I had to add the header to the specific axios instance I created.

[2020-01-18 16:18] #155 closed

[2020-01-31 11:05] osnofa opened #164 "How to deal with errors? Not presenting error information."
Axios has an `error.response` object that mirrors the information present when the server returns a normal response:
[code]
I would like to have access to this information, but when `const [{ data, loading, error, response }, fetch] = useAxios(...)` returns an error from the server, the `data` and `response` come with the previously correct response values (undefined if it was the first request ma

[2020-01-31 12:38] simoneb commented on #164
You will find all this information in the `error` property, or am I missing something?

`const [{ error }, fetch] = useAxios(...)`

[2020-01-31 12:55] osnofa commented on #164
Strange, it's giving not giving me an object, it's giving me this instead:
[code]

Going to try and reproduce it in codesandbox, I'll update this comment afterwards.

[2020-01-31 12:57] simoneb commented on #164
okay sure. that object though is what's returned by axios, see https://github.com/simoneb/axios-hooks/blob/8706e4cb7c159602a248b2552cf1bfe2f2773186/src/index.js#L129

[2020-01-31 13:28] osnofa commented on #164
I coudn't reproduce my problem, but I noticed that it's something that is documented in axios.

At least I know where the problem lies. Basically the error occurred on the request, so `error.response` is obviously still `undefined`. I could identify this by checking all the values mentioned in axios' [error handling link](https://github.com/axios/axios#handling-errors).

[code]

[2020-01-31 13:28] #164 closed

[2020-01-31 13:32] simoneb commented on #164
Correct, though unusual, HTTP errors may occur on the request rather than in the response (i.e. there's no network connectivity so the request cannot even leave the local network). In those cases, you will never have a response and in Axios that's communicated by an undefined response on the error object.

[2020-02-02 05:58] wulucxy opened #166 "how to chain promise action?"
I have two async requests，and one depend on the result of the other request:

[code]

the next request need the value of `data`，so I need to write like this:

[code]

this works，but it feels very ugly。I prefer the chained promise way，so do you have any advice, or
 just write the normal `useState` way?

@simoneb

[2020-02-02 10:23] simoneb commented on #166
There's an improvement you can do over this, but it feels like a little overkill to use hooks for it.

See the sample I put together [here](https://codesandbox.io/s/wonderful-thompson-el93i?fontsize=14&hidenavigation=1&theme=dark).

It's pretending to do something similar to what you're trying to achieve by first retrieving a list of todos and then requesting the details of the first of them, by i

[2020-02-03 02:06] wulucxy commented on #166
@simoneb got it，thanks for your comment。

[2020-02-03 02:06] #166 closed

[2020-02-18 14:06] AbdelhakAj opened #176 "pass params to execute"
Hello, is there a way to pass params throw the execute/refetch function ?
if not I think this should be added.

[code]
I needed to pass username to the API url

[code]

thank you for creating this by the way

[2020-02-18 14:11] simoneb commented on #176
The `getUser` function will take a request configuration that is the same as you would provide to axios. So:

[code]

[2020-02-18 14:13] #176 closed

[2020-02-27 11:21] fabn opened #181 "Default value for data, possible?"
Hi, thanks for your little gem. I was able to simplify my code from

[code]

to this

[code]

However I need to manually handle first render when data are not already loaded with `invoices || []`.

I was wondering if there's any way to specify a initial value for data as in `useState` hook. If not it would be a great addition to this project.

Thanks.

[2020-02-27 11:50] simoneb commented on #181
This is not supported and will probably not be, considering how easy handling this case in user code is. See previous discussion in https://github.com/simoneb/axios-hooks/issues/110 and https://github.com/simoneb/axios-hooks/issues/26

[2020-02-27 11:50] #181 closed

[2020-02-27 11:58] fabn commented on #181
Thanks,  I missed those ones. I solved with

[code]

[2020-03-05 11:52] flaviolivolsi commented on #176
@simoneb what about params in the URL? How to pass the param in that case?

Example:

[code]

[2020-03-05 11:56] simoneb commented on #176
@flaviolivolsi one easy option would be to have `username` in the component state and use it in the Hook like this:

[code]

Depends on the use case but you get the idea

[2020-03-09 08:53] MahmoudObjects opened #187 "Uncaught Error during jest testing"
When I try to test the network failure case I get a thrown error without being caught which breaks my test, when I replaced axios-hooks with the original axios library and a catch block on each request the tests passed smoothly
I believe the issues is throwing an error in the catch block
[code]

[2020-03-09 09:22] simoneb commented on #187
Can you be more specific about what you're trying to do?

[2020-03-09 09:22] simoneb commented on #134
Closing due to inactivity

[2020-03-09 09:22] #134 closed

[2020-04-04 14:19] fabn opened #199 "Option to disable cache with makeUseAxios"
Following my request in https://github.com/simoneb/axios-hooks/pull/37#issuecomment-607783909 and #34 it would be nice to have this

For anyone interested here's a workaround for current version

[code]

Thanks

[2020-04-11 11:02] simoneb commented on #199
@fabn can you have a look at this PR? https://github.com/simoneb/axios-hooks/pull/204

[2020-04-11 11:59] fabn commented on #199
I think is fine, as soon as you release it I'll test it.

Thanks.

[2020-04-11 12:47] #199 closed

[2020-04-11 12:49] simoneb commented on #199
@fabn I published a prerelease, axios-hooks@1.10.0-0. Can you try it out before I do an official release?

[2020-04-12 19:26] fabn commented on #199
@simoneb I tried it and it's working as expected. Thanks.

[2020-04-13 08:35] simoneb commented on #199
@fabn thanks for checking. Now released as 1.10.0

[2020-04-16 13:13] tgfischer commented on #35
You should be able to mock `axios` and test it with `axios-mock-adapter` and `@testing-library/react-hooks`. In my project I wrap this hook in a custom request hook, which makes it easy for me to switch libraries under the hood without breaking all my tests.

To mock `axios`, try something like this

[code]

[2020-04-19 01:06] lmiguelvargasf commented on #35
@LiaoJimmy , how does your code looks after mocking `axios-hooks` response?

[2020-04-25 09:12] LiaoJimmy commented on #35
I think mock `axios-hooks` response is not a good solution.
For mock API response, we have better choice like Mirage JS (https://miragejs.com/).
It has many features and better developer experience.

[2020-04-25 09:45] simoneb commented on #35
@LiaoJimmy @lmiguelvargasf @tgfischer mocking this library with jest is as easy as:

[code]

[2020-04-25 12:38] simoneb commented on #187
Closing because of inactivity

[2020-04-25 12:38] #187 closed

[2020-05-06 15:49] SMJ93 opened #217 "Pagination example"
Hey, great library!

Do you have a pagination example?

I'm trying to setup [Laravel pagination](https://laravel.com/docs/7.x/pagination).

Thanks

[2020-05-06 16:24] SMJ93 commented on #217
I've managed to get it working with the following:

[code]

It just feels long / not very performant

[2020-05-06 16:38] ValentinH opened #218 "Use axios.request() instead of axios()"
Hello,

Thanks for this nice hook!

Would you accept a PR that would switch [this line](https://github.com/simoneb/axios-hooks/blob/master/src/index.js#L120) from:
[code]
to

[code]
?

This would enable us to mock axios much more easily with:

[code]

I've seen in [your comment](https://github.com/simoneb/axios-hooks/issues/35#issuecomment-536481678) that you think we should mock the hook instead

[2020-05-06 22:12] simoneb commented on #217
Why don't you use automatic requests (no `manual: true`) and provide the parameters to the request configuration using the values coming from the state? That way, whenever you change the state in a way that affects the request configuration the hook will request new data.

You will still need to handle adding the new data to the existing data, but this is more of an application logic concern, you'

[2020-05-07 09:33] SMJ93 commented on #217
Hey @simoneb!

Because I need to trigger the request from multiple places - pull down to refresh, on load screen, on scroll to end etc.

Yeah sorry, I always combine pagination + infinite scrolling. In this case I want to do infinite scrolling :)

I'll use the above implementation for now and close the issue, was just curious to see if there was an axios hook that would handle it for me.

[2020-05-07 09:33] #217 closed

[2020-05-07 10:06] simoneb commented on #217
You can combine both approaches though. Clearly if you want infinite scrolling you will have to keep some local state. I've created two examples here:

- pagination: https://codesandbox.io/s/axios-hooks-pagination-1wk3u
- infinite scrolling: https://codesandbox.io/s/axios-hooks-infinite-scrolling-42nw6

[2020-05-08 13:23] KristianLonergan commented on #35
@simoneb how would you go about mocking axios-hooks when you have multiple instances of useAxios within a file?
For example:
[code]

[2020-05-08 13:27] simoneb commented on #35
@KristianLonergan in the same way as you would mock a jest mock function which is called multiple times, see [here](https://jestjs.io/docs/en/mock-functions.html#mock-return-values).

I appreciate this is not ideal so I'll be looking into #218 that's been opened a few days ago. But, there are ways to mock this easily already.

[2020-05-26 23:44] PupoSDC opened #233 "Add documentation on how to best chain requests."
Hello!

I have been looking everywhere and trying to have a go at this myself, but I'm still haven't found a pattern that allows me to chain two axios hooks sequentially. Using vanilla axios I could do something like this:

[code]

however this kind of solution inside of a useEffect is kind of meh, since I loose all the goodies from axios-hooks. These are the functionalities from axios-hooks i wan

[2020-05-27 07:07] PupoSDC commented on #233
Apparentely you can await the get function returned by axios-hooks:

[code]

it still looks a bit complicated. But it has improved the code. A perfect solution would be to somehow tell useAxios when to run the query in the qeury parameters. something like:

[code]

But I'd need to dig into to the code to see if something like this is even possible, and know the creators opinion if it is something

[2020-05-27 07:51] simoneb commented on #233
This question was asked in this issue: https://github.com/simoneb/axios-hooks/issues/166. Unfortunately the link in my comment is gone so you can't see the code, but it's conceptually similar to what you did above.

Chaining multiple requests consists in awaiting the promise returned by the `refetch` function returned by `useAxios`.

I'll take note to:

- document that the return value of that fun

[2020-05-28 19:25] jamescharlesworth opened #234 "breaks on ie 11 from lru-cache dependency"
This repo seems to break on ie11 because its importing lru-cache which does not transpile down. I've added lru-cache to my babel config would prefer a different solution if you have one?

[2020-05-30 17:06] #233 closed

[2020-05-30 17:07] simoneb opened #236 "Conditional caching"
Requested in #233, the useCache option could be extended to conditionally use cache based on user logic.

[2020-05-31 13:06] bang88 opened #237 "Does this working on react-native project ?"
I have an issue when I post a request with `{ manual:true }` options.  It's always throws an error and no data come back.

What should I do.  Thank you very much.

[2020-05-31 13:49] #237 closed

[2020-05-31 13:50] simoneb commented on #237
It does, I added an example to the readme: https://snack.expo.io/@simoneb/axios-hooks-react-native

[2020-05-31 13:57] bang88 commented on #237
with manual  options ? and doesn' t use cache

[2020-05-31 13:58] simoneb commented on #237
You can easily try the example and reopen this issue if it doesn't work. There's no reason why manual and useCache would make any difference.

[2020-05-31 14:01] bang88 commented on #237
Its really strange I can' t get any response from a post request.   I will try it using your example.

[2020-05-31 14:06] bang88 commented on #237
By the way your demo are running on a web browser. not a real device.

[2020-05-31 14:09] bang88 commented on #237
https://snack.expo.io/guVAwKceo This hook works well as expected  if I using `get` method.  but if  I using `post` and with manual on. it's not working anymore.

[2020-05-31 15:00] bang88 commented on #237
@simoneb I am sorry. Could you running it on a real device so you will get some error.

Thank you.

[2020-05-31 15:08] simoneb commented on #237
The demo is running in expo, which you can run on a real device. I just tried that and it works. Now, unless there's a difference running the app in expo or plain react-native I don't know, but I doubt it would make a difference as far as this hook is concerned.

[2020-05-31 15:09] bang88 commented on #237
https://snack.expo.io/guVAwKceo This snack doesn' t work too.  If you running it on ios or android.

[2020-05-31 15:11] simoneb commented on #237
It works perfectly fine for me

[2020-05-31 15:12] bang88 commented on #237
![image](https://user-images.githubusercontent.com/433259/83355803-3b15e780-a394-11ea-8005-4e920ee4875d.png)

[2020-05-31 15:13] bang88 commented on #237
It display an error.

[2020-05-31 15:23] simoneb commented on #237
You're calling the API in the wrong way, the API doesn't support a body. I'm locking this conversation.

[2020-06-01 12:58] Jonofat opened #238 "How to send headers"
it isn't clear from the documentation (unless I missed it ) how to send headers. I need to send something like this:

`headers: { Authorization:  auth.token },`

[2020-06-01 13:04] simoneb commented on #238
See [here](https://github.com/simoneb/axios-hooks#useaxiosurlconfig-options). The first argument to `useAxios` is the same as axios accepts. Either a string or a configuration object. With the latter, you can provide headers.

[2020-06-01 13:04] #238 closed

[2020-06-01 15:24] Jonofat opened #239 "Is it possible to set state with the data?"
[code]

Error: Too many re-renders. React limits the number of renders to prevent an infinite loop

[2020-06-01 16:00] simoneb commented on #239
This is more a React question. The answer is yes, you can, you'll have to conditionally do that in a `useEffect` hook. If you do that at each render you'll get into an infinite loop.

[2020-06-02 10:18] SMJ93 opened #240 "Update the cache for an endpoint using a manual execute on another screen"
Hey,

Is it possible to update the cache using a manual execute on another screen?

For example:

[code]

[code]

[code]

[2020-06-02 17:31] Jonofat commented on #239
Sure. If this question below is out of scope then let me know and I will close it off then as this shouldn't be for React questions.

I couldn't use useAxios inside of useEffect as I got another error. I did the below and it works, but it doesn't seem like a good implementation on my part.

[code]

[2020-06-02 18:24] simoneb commented on #239
This would be the way to do it, but I wonder why you need this in the state in the first place.

[2020-06-02 18:27] Jonofat commented on #239
The reason is because I am using [react-sortable-hoc](https://github.com/clauderic/react-sortable-hoc) and there I need to do this:

`setItems((items) => arrayMove(items, oldIndex, newIndex));`

And if I try to put 'data' in there where I have the 'items' state, I get an error that it can't do what it needs to do. That is why I wanted to put data into my items state so I could use it there.

[2020-06-03 04:19] juanpablocs opened #242 "SSR not work"
Hi, great work.
The demo is not working

https://codesandbox.io/s/axios-hooks-ssr-example-sm7ms?file=/src/client/App.js:135-186

please check the chrome source code

[2020-06-03 08:06] simoneb commented on #242
Duplicate of https://github.com/simoneb/axios-hooks/issues/30

[2020-06-03 08:06] #242 closed

[2020-06-03 08:07] simoneb commented on #239
You'll have to use the useEffect approach if you want to manipulate the data you're getting from the response, there's no other way that I can think of.

[2020-06-03 08:18] simoneb commented on #239
I created an example [here](https://codesandbox.io/s/axios-hooks-react-sortable-hoc-eo3oy)

[2020-06-03 08:18] #239 closed

[2020-06-03 08:21] Jonofat commented on #239
Thank you!

[2020-06-03 08:24] simoneb commented on #240
Can you define what you mean by "screen"?

[2020-06-03 10:27] SMJ93 commented on #240
Sorry, In React Native you can have multiple screens - we are using react navigation v5.

I am hitting the same endpoint on 2 different screens (both using the cache). They both initially return [1].

If hit refresh on one screen it could return new data e.g. [1,2].

I would expect it to update the cache and see [1,2] on both screens.

But I don't, the screen where I hit refresh shows [1,2], but o

[2020-06-03 11:12] simoneb commented on #240
Can you post sample code to show the issue? You can use this example as a starter: https://snack.expo.io/@simoneb/axios-hooks-react-native

[2020-06-04 09:52] simoneb commented on #240
If that's helpful, I created an example with react router: https://github.com/simoneb/axios-hooks/blob/master/README.md#examples

[2020-06-04 18:19] SMJ93 commented on #240
Hi @simoneb, sorry for the delay.

Here is a simple example:

Page 1:
[code]

[2020-06-04 18:31] simoneb commented on #240
@SMJ93 can you share the codesandbox please?

[2020-06-04 18:39] simoneb commented on #240
Ok I see the issue. When using `refetch`, the current default behavior is that the cache is skipped. The problem is that the cache not only is skipped when loading the data (thereby hitting the real endpoint)  but it's also skipped when the response is returned, therefore it doesn't overwrite what's currently in the cache.

I think that skipping the cache should only skip it for the request, but t

[2020-06-04 20:32] SMJ93 commented on #240
yep! agreed. We've decided to use Redux Toolkit for now due to deadlines etc so no rush for this!

[2020-06-06 15:03] simoneb commented on #240
@SMJ93 I started working on this request, which requires considerable changes to the caching mechanism. I published a pre release version of the package and used it in [this example](https://codesandbox.io/s/axios-hooks-caching-nm62v) that I set up starting from yours, to show how caching behaves in different situations. I would appreciate if you could take a look.

[2020-06-08 07:52] SMJ93 commented on #240
@simoneb looks great! Thanks for adding this so quickly 👍

[2020-06-12 19:59] LuisCarrilloR opened #250 "Refetch function throwing: Cannot read property 'token' of undefined"
Hello,

I created a custom hook using:
[code]

Then I tried to use it with the option manual as it is going to be triggered just when a handler function is called:
[code]
I try to call it in the handler as show below:
[code]
The problem is that when I call it on my handler it throws an error: **Uncaught (in promise) TypeError: Cannot read property 'token' of undefined**

[2020-06-12 21:07] simoneb commented on #250
Which version are you using? Can you try to reproduce the issue in [this codesandbox](https://codesandbox.io/s/axios-hooks-makeuseaxios-k8loq?file=/src/index.js)?

[2020-06-13 05:20] LuisCarrilloR commented on #250
I just fixed it updating Axios to 0.19.2 (as your codesandbox example).

Thanks!

[2020-06-13 12:31] MichielDeMey commented on #250
We're currently seeing the same behaviour on the following versions:
`axios-hooks: 1.10.0`
`axios: 0.19.2`

It seems to trigger instantly when navigating away from a component that has a `useAxios` hook but has not finished loading yet.

I'll see if I can get repo in the code sandbox.

[2020-06-13 13:10] MichielDeMey commented on #250
I've patched it by changing [this line](https://github.com/simoneb/axios-hooks/blob/master/src/index.js#L192)
`cancelToken: cancelSourceRef.current.token,`
to
`cancelToken: cancelSourceRef.current ? cancelSourceRef.current.token : undefined,`

But I'm not sure this is valid thinking. 🤔

[2020-06-13 15:36] simoneb commented on #250
@MichielDeMey can you provide a repro? If the token cancels, it must mean that the useEffect has triggered, hence there must be a token available.

[2020-06-15 17:15] LuisCarrilloR commented on #250
Yeah It is happening again.. It is the same line as @MichielDeMey mentioned.
Latest versions:

My guess is that the hook is not ready to receive the refetch function when a child triggers a prop function on mount.
[Here repro](https://codesandbox.io/s/axios-hooks-makeuseaxios-98xin?file=/src/index.js)

[2020-06-15 17:26] simoneb commented on #250
@LuisCarrilloR thanks for the repro, I'll have a look.

[2020-06-15 21:05] simoneb commented on #250
@LuisCarrilloR @MichielDeMey I published a prerelease version axios-hooks@1.10.1-0 which contains a simple change that should address this problem. See the linked PR for what the change is.

Can you check if it solves the issue in your case?

[2020-06-15 23:03] LuisCarrilloR commented on #250
Thanks for the update!
I tried with the new version and it didn't work, same error (Cannot read property 'token' of undefined).

I will try to find a way to reproduce it.

[2020-06-16 03:23] LuisCarrilloR commented on #250
[Here](https://codesandbox.io/s/axios-hooks-child-refetch-repro-mb0n0?file=/src/index.js) you can find another example, it breaks when using the class component lifecycle method.

[2020-06-16 19:30] philwindsor opened #254 "Question regarding the request function"
I'm using the hook in auto mode (manual: false) and using the error returned by the hook. The request function which is the core of the hook throws an error after dispatching it. I can see why this is done for manual requests but for auto handling (manual: false), is it possible to not throw the error?

code:

[code]

example:

[code]

Or expose another option that defaults to throwing the error b

[2020-06-16 20:52] simoneb commented on #254
Can you please explain the reason why you don't want the exception to be thrown? Meanwhile, I posted an [example](https://codesandbox.io/s/axios-hooks-error-handling-gvi41) about how to do error handling, the rationale being:

- when the request is performed by the hook itself, the error is caught and it's available in the error property returned by the hook
- when the request is performed manuall

[2020-06-16 20:55] simoneb commented on #250
Thanks @LuisCarrilloR yeah that makes sense. The quick fix I tried was to use `useLayoutEffect` but in practice its behavior is the same as the class lifecycle method `componentWillMount`, meaning that it will fire in the child first and in the parent after, leading to the same issue.

I guess the solution is not as simply as changing the hook that's used to create the cancel token, so I'll come u

[2020-06-17 17:30] LuisCarrilloR commented on #250
Hello @simoneb, I have found a couple possible solutions. Let me know your thought or if it breaks something else.
1. I Created a hook that runs before the render (possibly an anti-pattern like componentWillMount) and then as a normal useEffect
[code]
2. Why not to initialize the cancel when it is declared?
`const cancelSourceRef = React.useRef(StaticAxios.CancelToken.source());`

[2020-06-18 22:21] MichielDeMey commented on #250
@simoneb Meanwhile, I can confirm that the prerelease fixes my specific issue. 👍
I was calling the refetch function from a child component. Note that all components are functional components.

[2020-06-19 10:08] simoneb commented on #250
Thanks @MichielDeMey. That won't be the final solution, I'll have to come up with a more robust approach.

Thanks @LuisCarrilloR, I started thinking about about a more generic approach, initializing the token together with the ref will be probably part of the solution.

[2020-06-20 22:05] simoneb commented on #250
@MichielDeMey @LuisCarrilloR I published a prerelease version `1.10.1-4` which should address this issue altogether.

The rationale I followed is that any request triggered by the hook should cancel any other request, whether it's the useEffect hook used by axios-hooks or a manual request.

Can you please try it out and let me know if you find any additional issues?

[2020-06-21 00:39] LuisCarrilloR commented on #250
Nice thanks!

I am going to start moving some requests and I will let you know if something breaks.

[2020-06-21 08:50] Songkeys opened #257 "data is undefined when using custom cancel tokens"
I wrote interceptors to prevent repeated requests using cancel tokens. But I found that when I tried to call `cancel()`, the `data` in `useAxios`'s return is always `undefined` even if the request has been accomplished.

Here's my script for axios:

[code]

[2020-06-21 08:57] Songkeys opened #258 "data is undefined when modifying the return value in response interceptor"
My response from my server will always have a `data` property to wrapper the true return value. (e.g. `{data: {...}}`)

So I need this interceptor to reduce my work (of extra object destructuring):
[code]

But this will turn `data` value in the return of `useAxios` into `undefined`.

[2020-06-21 11:26] simoneb commented on #258
I can think of two possible issues you're having:

- the interceptor should not return a different shape, it should modify the data property of the response, but keep returning the response
- you may be configuring the interceptor multiple times

See this [example](https://codesandbox.io/s/axios-hooks-axios-interceptors-mcyuq).

[2020-06-21 11:27] simoneb commented on #257
I'm not sure what you're trying to do here, but axios-hooks has built-in cancellation, meaning that it will cancel outstanding requests in case a new one is started.

Is your requirement that of being able to provide custom cancellation logic?

[2020-06-21 11:39] Songkeys commented on #257
My logic is to cancel "multiple duplicated requests". For example, a user called `"/home"` again when the previous one hasn't been called yet.

The reason is that I have another part of logic to "hang the axios" and "push all incoming request configs into a pending array" to ask for an authorization for the current user first. The custom cancellation logic here is to help remove duplicated request

[2020-06-21 11:46] Songkeys commented on #258
I got your idea. The issue is related to the first one.

When using axios alone before, I didn't think about "shape". You are right. I should keep returning the response for axios-hooks because it uses other properties on the `response` value.

[2020-06-21 11:46] #258 closed

[2020-06-21 11:49] simoneb commented on #257
The way axios-hooks behaves is that it cancels requests that it started. I feel what you're trying to do here is the same, so I'm wondering if you need a custom cancellation mechanism in the first place.

If you do not provide your custom cancellation mechanism, do you see requests being canceled automatically by axios-hooks if you start a request when another (started from the same instance of th

[2020-06-21 12:36] Songkeys commented on #257
I removed my custom cancellation method, it seems working in my use scene! Thank you so much! (I remember when using axios alone, it doesn't.)

What I leant from the source code is that it cancels on component unloading. Is there any other situation that causes cancellation?

[2020-06-21 12:39] simoneb commented on #257
The useEffect cleanup function is not only called when the component unmounts, but also before the hook re-executes because the dependencies changed. So, the behavior it that it cancels any request. Note that I'm making some changes to this behavior right now to make it more robust, addressing #250 .

[2020-06-21 12:39] #250 closed

[2020-06-21 12:50] simoneb commented on #250
This is now addresses in 1.11.0. Please reopen this issue if you still encounter problems.

[2020-06-21 12:58] Songkeys commented on #257
Thank you so much!

Maybe it's good to include these notable built-in behaviors as features in README. Otherwise, some developers might implement it themselves just like me.

[2020-06-21 12:58] #257 closed

[2020-06-21 15:42] simoneb commented on #234
lru-cache, as far as I can see, only requires some polyfills. Have you tried [CRA's polyfill for IE](https://github.com/facebook/create-react-app/tree/master/packages/react-app-polyfill)?

[code]

[2020-06-21 16:45] simoneb commented on #240
@SMJ93 I'm planning to release this change with a major 2.0.0 release (because it's not a backwards compatible change). Meanwhile there have been a couple of intermediate releases. Can you please check that the latest prerelease 2.0.0-1 works for you? I also updated the example to use it to make sure that I didn't break anything.

This new caching behavior makes sense to me but it introduces possi

[2020-06-22 16:40] SMJ93 commented on #240
Hi @simoneb, `2.0.0-1` looks good to me!

I think your proposed solution sounds good. Might be worth adding your explanation above to the refetch documentation or codebase just so people understand why you've done it this way.

Good work @simoneb  👍

[2020-06-23 21:45] LuisCarrilloR opened #262 "Feature Request: refetch options to override base options"
Hello, is it possible to add an option or to make the library work by default overriding the default options when calling the refetch function?. The merge is working great but looking at some use cases I think it would be useful to override the defaults once the merge is done.

Sources:
- [Apollo documentation](https://www.apollographql.com/docs/react/data/queries/#refetching): _You can optionally

[2020-06-24 08:59] simoneb commented on #262
There are simpler ways to do this, here's one:

Don't use manual requests and store the parameters in the component's state, then you can reference them in useAxios and whenever they change a new request will be triggered. [Example](https://codesandbox.io/s/axios-hooks-pagination-in-state-no-manual-m14nk).

Alternatively, you can keep using manual requests and still store the parameters in the com

[2020-06-24 16:17] #240 closed

[2020-06-25 16:01] LuisCarrilloR commented on #262
Yeah I agree both options can work, but I am not sure if handling the options state outside the hook is the way to go. I think the only one in charge of handling the request (request options in this case) is the hook itself.

Please let me know what you think or if you are accepting PRs for this request. Thanks!

[2020-06-25 16:47] simoneb commented on #262
You can definitely suggest a change here, but just so you know, I'm not very keen in keeping any sort of state inside the hook, apart from the global cache.

Considering that the way the hook works (retrigger request when request configuration changes) makes it very simple to implement this, I am currently not in favor of supporting this scenario inside the hook itself, also considering that it ma

[2020-06-26 10:21] chompy18 opened #264 "Add support for React Suspense"
Although Suspense isn't officially ready for data fetching, some libraries already take advantage of this feature (react-hooks-fetch, built-in React.lazy...).

Why

Data loading is quite painful to handle at the time, especially when you have multiple queries.

[code]
Code handling data loading is also very repetitive.

Solution

How about adding a boolean suspend experimental option (which defaul

[2020-06-26 12:59] simoneb commented on #264
Interesting idea which I've never investigated. I'll look into what it would take to add suspense support. Thanks for bringing it up!

[2020-06-26 13:00] #234 closed

[2020-06-26 13:02] jsBlackBelt commented on #264
I'd be happy to lend a hand!

[2020-06-26 13:04] simoneb commented on #264
PRs are always welcome!

[2020-06-28 21:05] simoneb commented on #264
I started doing some experiments with [Suspense for data fetching](https://reactjs.org/docs/concurrent-mode-suspense.html) but I'm not too positive that that pattern fits very well in how axios-hooks works.

Aside from being still experimental, the pattern assumes that data loading begins before you even start rendering the component, and from within the component you simply get a promise that res

[2020-06-28 21:26] jsBlackBelt commented on #264
Maybe try to get inspiration from relay or apollo-client implementation? From what I gathered from suspense docs, relay already supports it even at this work-in-progress stage, and also apollo-client (https://github.com/apollographql/apollo-feature-requests/issues/162#issuecomment-555303657)

[2020-06-30 10:05] chompy18 commented on #264
Looks like react-i18next also supports it: https://react.i18next.com/latest/using-with-hooks#using-the-usetranslation-hook

[2020-06-30 10:10] simoneb commented on #264
Thanks for sharing the link. Our case here is slightly different though because translations are a perfect use case for Suspense. You load once and you're done. Here we have to handle reloading, caching, manual fetching and so on, and I think that's the part that makes the integration more complex. But I'll look into it!

[2020-07-01 11:21] victorivens05 opened #269 "Call hook conditionally"
At some point, we need to make a request only under certain conditions, when we have a parameter for instance.
Look at this example:
[code]
If at first, `userId` is returned as `null`, a request to `/endpoint/me/null` will be made, and then another one when it receives a value. I think that's the problem the closed issue #12 tried to solve, in a wrong way, since we can't use hooks conditionally.
W

[2020-07-01 12:37] simoneb commented on #269
This functionality already exists and it's linked in the issue you mentioned.

[2020-07-01 22:21] simoneb commented on #269
Reopening this because upon further consideration, I realized that the current `manual` option alone is not enough to achieve this behavior, because options change never trigger a new request.

I'm starting to evaluate how to retrigger requests when options change, which would allow to achieve this.

Work in ongoing in #272 and a sample using the prerelease version of this change is [here](https:/

[2020-07-02 10:49] victorivens05 commented on #269
I need some clarification. The expected behavior is to for the hook to request only when a certain criteria is met. In the example shown above:
[code]
Where two requests will be made, one with `userId === null` and one with `userId === 1`. The expected behavior can be achieved with a little more code:
[code]
It would be easier if I could pass the condition, as boolean, for when the requests need t

[2020-07-02 13:10] simoneb commented on #269
I would like to avoid adding another option when the existing `manual` would work and doing so (possibly refetching when options change) we're also achieving a behavior that may be useful in some cases and is more generic than what you're asking.

So my question is, I believe you can achieve what you need using manual and this new behavior I pre-released. Is that the case or am I missing something

[2020-07-02 13:52] victorivens05 commented on #269
To be honest, this behavior is already achievable today, by using the `manual` option as shown above.
The question is, I haven't thought about it until I saw your PR (which makes me think others didn't thought either), and it still feels like a "hackish" way of solving it, not to mention it's a no brainer: the code I wrote was hard to understand and isn't self explanatory.

I recognize your unwill

[2020-07-02 14:00] simoneb commented on #269
No it isn't because requests are not re-executed when options change. It may work in your case *with a new option* because the userId parameter is part of the request configuration, but it's a specialization of the general case I've addressed.

I get your point but I don't think that anything that's not a get should ever be executed automatically.

[2020-07-02 17:16] victorivens05 commented on #269
You're right, and I agree that listening to changes to `options` will solve a broader range of cases.

Not automatically. Reactively. Just like `useEffect` and how react works as a whole. But I also understand that leaving this option might lead to unexpected behavior.

[2020-07-03 10:01] simoneb commented on #269
I'd like to hear your thoughts on this but I believe it would be quite an unusual use case that you want to execute a non-GET request automatically. The hook would execute whenever the component is mounted, which is something you would usually want to do when reading data, but not when writing data.

Considering how easy it is do to so if you really need to implement this behavior, which is to use

[2020-07-03 15:40] victorivens05 commented on #269
Thanks for regarding my opinion, the world could be more like the open source community.

I looked through my coworker's and my code, and you're right. There's only one situation that would benefit from it, and it's when saving a draft, the first time the draft isn't needed to be saved, but then, everytime the state changes, a request must be made. That's already achievable without adding an optio

[2020-07-03 18:47] simoneb commented on #269
@victorivens05 I've updated the [example](https://codesandbox.io/s/axios-hooks-options-change-v23tl?file=/src/index.js) to reproduce a use case similar to yours using the same prerelease version of axios-hooks.

If you confirm that this covers your scenario I'll make an official release with this feature.

[2020-07-04 11:20] victorivens05 commented on #269
Yes, I confirm this covers my scenario.

[2020-07-04 14:28] nudabagana opened #275 "How to get error code from manual request?"
Hey guys, so I just started using this lib. Trying to do a simple login, but I'm unable to get error code if login fails. Am I doing something wrong?

[code]

All I'm getting is object with some stack trace and message:
[code]

[2020-07-04 15:44] simoneb commented on #275
What you're getting is an axios error, you'll find information about the shape of it in the [axios docs](https://github.com/axios/axios#handling-errors)

[2020-07-04 15:44] #275 closed

[2020-07-04 16:31] #269 closed

[2020-07-04 16:33] simoneb commented on #269
This is now available in version 2.1.0

[2020-07-06 15:20] chickenwing commented on #250
For me the cancelToken option now does not work anymore - calling source.cancel does not cancel the request anymore. I need to cancel a request manually even if no new request is started (what axios-hooks now does automatically).
Should this work?

[2020-07-06 17:46] simoneb commented on #250
@chickenwing Which version are you using and can you provide a repro please?

[2020-07-15 17:52] Wgil opened #284 "Truthy initial loading state when using manual"
I'm using the `manual` option like this:

[code]

My issue is that since it's a manual request, the loading state is `false` until `execute` gets called. Is there any way I can add initialize loading state as `true` using manual?

[2020-07-15 18:02] simoneb commented on #284
No, there is no way that loading can be true if the request is not executing. I do see why you want that though, and I think the solution is to structure your application in a different way. I see two options here:

- you handle the axios configuration at the root level of the application and only once you've obtained the user token you initialize axios-hooks using `configure` then start your appl

[2020-07-15 18:02] #284 closed

[2020-07-15 19:35] Wgil commented on #284
I went for option two but added a custom hook since I want my loading state to be truthy while I'm fetching the token:

[code]

On another note, I think this type:
[code]
should be
[code]
since `data` is not there until we get a response. Should I open another issue for this?
Thanks for helping.

[2020-07-15 20:11] simoneb commented on #284
Thanks, I pushed a fix for this already. Good catch.

[2020-07-31 21:30] dkershner6 commented on #35
Just to throw out there, and it is not mutally exclusive with #218 ...

I really appreciate this library, and I had some more complicated mocking scenarios that required several useAxios hooks to be used with each other, relying on one another.  The ordered mocking method above falls down when firing off items in random order and such.

So, I created a library to handle every scenario I (and the r

[2020-07-31 21:30] dkershner6 commented on #111
In case a more complex alternative is needed: https://www.npmjs.com/package/axios-hooks-mock

[2020-07-31 21:49] dkershner6 opened #298 "Possible to remove @babel/runtime as a dependency?"
This library is so tiny, that, percentage-wise, this could make a big difference.

https://github.com/simoneb/axios-hooks/blob/0ebdae8e1d9bb6115654e08dc43d7e7628e74ad6/package.json#L38

The package size is currently 18KB, but the actual code + `lru-cache` are only about 7KB combined...

I am not sure what it is being used for, however, or what would be required, just wanted to voice an opportunity

[2020-08-01 08:18] simoneb commented on #298
I think we might be already doing the right thing by using `@babel/runtime` as a dependency (needed for async/await support) and `@babel/plugin-transform-runtime` as a devDependency.

This should allow a host application using ES modules to dedupe  the `@babel/runtime` code.

In practice, I didn't check that this is really happening.

[2020-08-01 12:15] simoneb commented on #298
@dkershner6 I checked by doing a simple repro with CRA. When you use async/await, CRA will include the babel runtime. When also adding axios-hooks, the babel runtime is deduped.

You can try it yourself by doing these 4 combinations:

- CRA no async/await -> no babel runtime
- CRA with axios-hooks -> babel runtime
- CRA with async/await -> babel runtime
- CRAP with axios-hooks and async/await -> d

[2020-08-01 12:15] #298 closed

[2020-08-01 12:16] simoneb commented on #262
Stale, closing.

[2020-08-01 12:16] #262 closed

[2020-08-01 12:16] simoneb commented on #254
Stale, closing.

[2020-08-01 12:16] #254 closed

[2020-08-01 12:18] simoneb commented on #236
This is now possible because options are reevaluated rather than snapshotted, therefore a changing value of the `useCache` option will be taken into account. See the [Options change detection example](https://github.com/simoneb/axios-hooks#examples)

[2020-08-01 12:18] #236 closed

[2020-08-01 13:37] dkershner6 commented on #298
I was thinking more along the lines of react native, where they don't use Babel runtime at all, but I checked, and they do use regenerator runtime, which is the largest dependency of Babel runtime.

Next.js also uses Babel runtime as well.

Agree that this is not worth worrying about and ES2018 support is worth it.

[2020-08-20 03:34] ckeeney opened #311 "Server-side memory leak"
I have identified a memory leak in 2.0 and 2.1 and am rolling back to 1.11 in production.

I have created a repository to reproduce the issue here: https://github.com/ckeeney/axios-hooks-mem-leak

[2020-08-24 12:27] boxdox opened #315 "Usage with Redux?"
I don't know if this been asked before, but I want to integrate it with redux.
I tried to use `{ manual: true }` so that I can make the request on page load and store the data into redux. But this always results in `loading` to be `false`, hence React throwing error that `data` is undefined.

[code]

What am I doing wrong here? Should I maintain my own `loading` state?

Another question, Since thi

[2020-08-24 12:42] simoneb commented on #315
The loading state works fine when doing a manual execution of the request, see [example](https://codesandbox.io/s/2oxrlq8rjr).

As for storing results in redux, since this keeps its own state using redux would be redundant. I suggest that you either use this or redux, not both.

[2020-08-24 13:55] boxdox commented on #315
That is because the hook is executed once, so there's data in it. I don't want it to run unless I explicitly call the refetch/execute.

I need redux in the application, so I think I should look at some other package or write my own. Got any advice?

[2020-08-24 14:06] simoneb commented on #315
It works fine even using the manual option, check for yourself.

If you're using redux this package is unnecessary, there are possibly many approaches you can use but a fairly standard one is to use plain axios with redux-thunk

[2020-08-24 14:08] boxdox commented on #315
@simoneb For me, `loading` is always false. No idea why.

Anyways, thanks for the help, I know this is off-topic, so I will close this issue.

[2020-08-24 14:08] #315 closed

[2020-08-24 14:13] simoneb commented on #315
Can you please check the linked example and try to reproduce it there? There it is working fine, but maybe you hit a edge case or something.

[2020-08-30 14:40] simoneb commented on #311
Thanks for the report and for the detailed repro. I think I identified where the memory leak comes from, which is a consequence of the different caching mechanism introduced in 2.x.

[2020-09-10 11:28] intergalactic-overlords opened #330 "One request Cancels another request"
I've been working on a weird bug for the last few days. Let me explain:

I have a screen for a 'team' of 'operators' that are working today. In this screen, I do 2 separate rest calls with axios hooks. In one, I GET the team data (team name, etc...) and in the other I GET the operators.

I use 'makeUseAxios' like this:
[code]

My endpoints look like this:
* teams: /api/teams/{teamId}
* operators:

[2020-09-10 16:33] simoneb commented on #330
Interesting issue. I tried reproducing it but I couldn't, can you try to see if you can reproduce it starting from this repro which as far as I can see works as expected?

https://codesandbox.io/s/axios-hooks-issue-330-r34t0?file=/src/index.js

[2020-09-26 15:27] dkershner6 commented on #330
I have experienced something different, but similar, and it had to do with the initial loading of the `useAxios` hook with an incomplete url (then changing it to the correct URL).  This would be similar to your `teamId` initially being undefined, then populating (from some other area as a prop).

It doesnt appear that you are populating this separately, but the reason this would cause problems is

[2020-09-26 16:49] dkershner6 opened #342 "A re-render calls cancel twice (once on the old request, and once on the new one) - 3 total requests"
I will have a PR to fix this in shortly

[2020-09-26 16:50] dkershner6 opened #343 "Improve cancel messaging"
Currently this logs 'undefined', which can make troubleshooting on pages with lots of API calls problematic.

We can also use the data within the message to improve testing, as we will know the URL and reason for the cancellation

[2020-10-01 18:53] kentongray opened #346 "Discussion - Refetch Cache"
Hey! First of all I really like this library we've implemented it in our app and think it provides a great flexible model for all of our API calls. When using the library I found myself wanting a feature and apologies if I'm misreading the docs but would love your opinion and if this is something that would make sense to submit a PR for.

The concept is Cache & Refetch - The way I'd like to use th

[2020-10-02 04:01] krolow opened #348 "How to deal with non success responses"
E.g get a 400 from the request

It looks like it throw the error https://github.com/simoneb/axios-hooks/blob/master/src/index.js#L177

[2020-10-02 08:36] simoneb commented on #348
A non-200 response status code will generate an error. Depending on how you're doing the request (either using the auto or manual request) you will get it in the `error` property of the return value of the hook or a rejected promise, respectively.

There's an example about error handling in the [docs](https://github.com/simoneb/axios-hooks#examples).

[2020-10-02 08:36] #348 closed

[2020-10-02 08:42] simoneb commented on #330
@dkershner6 if I understand your issue correctly, you don't want to fire the request until you have the url available, which is something that you don't have initially.

If that is the case, and assuming for instance that you get the url from a property of the component where you're using the hook, you can simply do something like:

[code]

In other words, you prevent the request from executing un

[2020-10-02 13:17] dkershner6 commented on #330
@simoneb , That's an interesting thought: change the manual setting instead of calling the callback. This would also re-Render, but all logic would be handled in the useEffect and would work.

I like the explicitness of the callback, since manual isn't an accurate name at that point, but I won't rule it out in simple use cases. I also think it's worth a thought to try and get the callback to work

[2020-10-03 21:02] dkershner6 commented on #346
Sounds a lot like `useSwr`.  You can always use that lib with an `axios` fetcher.

I am not sure something like this belongs in the core library, which should stay as simple as possible, but layering something over the top of `useAxios` wouldn't be that difficult.

- With that, the cache part is done for you.
- The refetch part, you can call `refetch` and ignore the `loading` status.
- When `loadi

[2020-10-04 13:10] simoneb commented on #346
This is an interesting discussion.  There is nothing being done explicitly around this because the rationale behind this library is to have something simple readily available.

I didn't know about `useSwr`, thanks for mentioning it @dkershner6. I can see in the docs that it has plenty of options which I'm not sure fit in this library instead.

Nevertheless, I put together an example to kickstart a

[2020-10-04 15:44] dkershner6 commented on #346
Adding this to the example would achieve this goal:

[code]
(string comparisons are based on the contents, so `displayData` only would run on content changes, `dataString` would run on all changes)

[2020-10-05 17:44] kentongray commented on #346
I like this approach a lot simoneb, I may just try to implement it in our code since we already abstract over axios-hooks. That being said if you have any interest in making it "standard" I'd be happy to submit it. Feel free to close this issue!

[2020-10-18 14:50] muhsalaa commented on #176
Hi, I got the same issue here. I successfully fetched with params in options

[code]

however, when I changed the typeState after choosing an option, and then refetch, I got the error below:

<img width="383" alt="Screen Shot 2020-10-18 at 21 40 56" src="https://user-images.githubusercontent.com/38155442/96371171-9ea98180-118a-11eb-9caf-d2bb253cde84.png">

thought my fetch is still continued (the

[2020-10-19 07:19] pacocom opened #353 "Configure cache error"
When I try to configure custom LRU cache:
![image](https://user-images.githubusercontent.com/7735329/96413523-0e9c2400-11ec-11eb-8c54-359aebb3bc48.png)

What is the problem!?

The demo code:
[code]

my dependencies:
[code]

[2020-10-19 07:32] pacocom opened #354 "UseCache not working"
If I use:
[code]
Request cache not working.

If I use:
[code]
Why Do I need to use "useCache" in execute function to cache request?

Thanks!

[2020-10-19 07:51] simoneb commented on #354
Because the first option provided in the hook usage applies to when the hook triggers a request, the second option used in the execute function applies when you invoke that function and is false by default. This is explained in the docs.

[2020-10-19 07:51] #354 closed

[2020-10-19 08:05] simoneb commented on #353
We have a configuration example in https://codesandbox.io/s/oqvxw6mpyq. Do you see the error there too? I suspect it's a brower's issue, which may need polyfills or something.

[2020-10-19 08:19] simoneb commented on #176
The error you see is a cancellation error, meaning that you're doing multiple requests and one is canceling the other. This library does cancellation automatically.

This suggests a user-land bug. Can you provide a repro?

[2020-10-19 08:20] pacocom commented on #354
Obviously, I read the documentation before write the question!

Sorry. but I didn't understand why useCache of hooks is different to useCache of execute function!

Thank!

[2020-10-19 08:23] simoneb commented on #354
@pacocom they serve the same purpose but they have different defaults, which are independent from each other. It's true in the hook usage, false in the execute function usage.

[2020-10-19 12:44] muhsalaa commented on #176
actually, I'm able to solve the problem now. When you said it because of multiple requests, I realize that my code is wrong. My mistake is I use `refetch` after changing the state.

[code]

I was thinking that I need to refetch after set a new type. Thanks for your response

[2020-10-19 12:45] simoneb commented on #176
@muhsalaa you're welcome. Yes, when changing any of the parameters of the hook, the request is re-executed automatically without needing to invoke the execute function.

[2020-10-28 00:08] singleseeker opened #357 "can not read property 'data' of undefined, any idea? thank you."
![image](https://user-images.githubusercontent.com/520698/97374981-996bd580-18f4-11eb-9505-5601482a3150.png)

[2020-10-28 09:00] simoneb commented on #357
Can you provide a repro?

[2020-10-28 21:53] simoneb commented on #353
Closing, this is a problem with the transpilation process of the LRU library

[2020-10-28 21:53] #353 closed

[2020-10-28 23:13] simoneb commented on #330
@dkershner6 can we close this issue?

[2020-10-29 02:55] dkershner6 commented on #330
I think that the likelihood of this being solved by #358 are pretty good, or at least helped by it.  If we combine this with the ability to:

- Use blank string as a blank slate.
- Use `manual` as an on/off switch.

I think we can then likely close this ticket.  Might be worth adding something to examples or docs, though, as I definitely interpreted things differently.

[2020-10-29 03:02] dkershner6 opened #359 "Reset (back to initial state)"
I have had a couple use cases for this, situations where I am using context to share the results, and the page inside the context changes an ID, and I need to make new calls.

In current form, I have to wrap data, loading, and error with a more complex status and data object that pays attention to another state variable, tracking if the reset has occurred.

This would be simpler inside `useAxios`,

[2020-10-29 10:07] simoneb commented on #359
Can you give a more concrete example? If you use a codesandbox to show what this library does and what you would like to obtain instead, it would be easier to understand.

[2020-10-29 11:08] svenadlung commented on #357
Same happens to us. We are actually sending some requests with at least 1 second of delay and the server doesn't answer quickly. We can reproduce easily by slowing down with throttling in network tab (Slow 3G). Results in cancelled requests and the error message shown above.

[2020-10-29 11:19] simoneb commented on #357
I am not sure what is happening, I tried to put together [an example here](https://codesandbox.io/s/axios-hooks-357-repro-m3sgx?file=/src/index.js) which simulates a slow server response with the ability to trigger multiple requests, but I haven't been able to reproduce the issue. Can you please take a look and try to reproduce it, or provide an alternative repro?

[2020-10-29 14:42] svenadlung commented on #357
@simoneb you are right. We tried to reproduce in a sandbox as well, but it looks just fine. We are using `configure()` as well with caching, but this didn't causes the error neither. In our case it happens only sometimes. We are not quite sure what it is related to but it's only with many requests and delayed responses. How is it for @singleseeker ? Can you have a look at the sandbox?

[2020-10-29 22:33] simoneb commented on #357
@svenadlung after looking more closely into the code, and assuming that you are using the latest version of this library, I concluded that only way to cause this issue is a custom configuration of axios that you must be providing and which is causing some invariants to not be respected. For instance, if you are using interceptors and not returning a response in some cases, this is what will happen

[2020-10-29 22:33] #357 closed

[2020-10-30 04:12] dkershner6 commented on #359
Not sure if a sandbox makes sense, would be pseudo-code, so ill just try and explain more explicitly here.

`const [{data,}, getData] = useAxios('', {manual: true});`

This is present, and lets pretend that when we call `getData(17)`, data turns from `undefined` to `{ testData: 17 }`.

What I would like, is a way to get `data` back to `undefined`, i.e.

`const [{data,}, getData, resetData] = useAx

[2020-10-30 04:17] dkershner6 commented on #359
The reason behind this is when useAxios is somewhere reusable (i.e. React.Context) and the query changes based on user input.  In these cases it can be really helpful to be able to re-enter your initial state, so that everything can be choreographed one way and then that way can be reused (rather than creating an initial flow and a refresh flow).

[2020-10-30 08:30] svenadlung commented on #357
@simoneb Oh man, so good 👍 You are right.

Our custom error handling (in axios interceptors) handles errors with a response but in this case there is no `error.response` and we do not return anything. But as you said it expects a return. Now we `return Promise.reject(error)` and everything works like a charm. Old requests get cancelled and new ones are running perfectly without any react error.

T

[2020-10-30 09:40] simoneb commented on #359
Thanks for explaining @dkershner6. It doesn't really feel like this is something that fits into this library to be honest. This feels like a use case that should be achieved in user code, because it's specific to your application.

In other words, I wouldn't want to include in this library anything that's not generic enough to deserve living therein, and anything extra should be implemented in use

[2020-10-30 09:40] #359 closed

[2020-10-30 14:10] dkershner6 commented on #359
Works for me, just needed a clear direction, thanks!

[2020-11-10 14:18] MAJRint opened #364 "Discussion axios-hooks and redux"
Maybe this is not the right place to ask here but I am trying to getting my react redux ssr application to work with axios-hooks.

I already have a window global variable to load the state of the store.
window.INITIAL = ${serializer(store.getState())}
How do I handle the cache in that case?

Is this possible at all?

[2020-11-14 21:20] cyrilchapon opened #365 "ResponseValues incorrect typing"
ResponseValues is typed like so :

[code]
There are several issues :

1) When using `manual` option, initial `data` is `undefined`, whereas the types say `T`
(furthermore; I believe it's also possibly undefined when loading or even error)
2) `response` is forced to `AxiosResponse<any>`, but should default to `AxiosResponse<T>`

[2020-11-14 22:53] simoneb commented on #365
Can you open a PR?

[2020-11-15 13:29] cyrilchapon commented on #365
No really time these days but I can try and fix it locally and provide some code in here to help someone to do so maybe ?

[2020-11-15 13:42] cyrilchapon commented on #365
I think the key is to tweak this

[code]

And split both `Options` `ResponsesValues` as union types; and setup conditional typing of `ResponsesValues` based on `Options`. I'll give that a shot and repost here.

Feel free to tell me any better idea

[2020-11-15 14:25] cyrilchapon commented on #365
Successful with function overload; rather than conditional typings.

[code]

[2020-11-18 12:55] simoneb commented on #365
@cyrilchapon does this PR address your issue? https://github.com/simoneb/axios-hooks/issues/365

[2020-11-18 13:13] cyrilchapon commented on #365
Yes, exactly.

[2020-11-18 13:16] #365 closed

[2020-11-23 09:17] sourdenis opened #367 "axios-hooks and react-adal"
Hi!
First, thanks for a great hook :).
But I'm having problem with using it with react-adal - as MS AAD token times out usually in 5 min I need to update the token in the request header everytime the request is made (the refershing of the token is done by react-adal component in the background).
The problem is that the react-adal method for getting the current token is async and I'm struggling to

[2020-11-25 16:40] simoneb commented on #367
You can find an example of how to do it in [this code sandbox](https://codesandbox.io/s/axios-hooks-authentication-zyeyh?file=/src/index.js). I added the example to the readme

[2020-11-25 16:40] #367 closed

[2020-11-25 19:22] sourdenis commented on #367
thank you :)

[2020-12-18 15:19] #330 closed

[2020-12-19 16:13] chinavane opened #369 "first time fetch data return undefined"
I set configure env
[code]

and set manual is true
[code]

when i first invoke function to getData,return undefined. next time is ok.

[code]

[2020-12-19 16:16] simoneb commented on #369
please create a working repro on codesandbox

[2020-12-19 16:24] chinavane commented on #369
https://codesandbox.io/s/axios-hooks-manual-request-forked-8qp9o

[2020-12-19 16:26] simoneb commented on #369
that's expected, getting data is asynchronous so you can't expect to have the data ready when you fetch manually. see updated example https://codesandbox.io/s/axios-hooks-manual-request-forked-ulthm?file=/src/index.js

[2020-12-19 16:26] #369 closed

[2020-12-29 14:09] singleseeker opened #371 ""Can't perform a React state update on an unmounted component." after use axios.interceptors.response!"
You could get the execute code by the following URL.

https://codesandbox.io/s/axios-hooks-configuration-example-forked-yut2g?file=/src/index.js:346-373

After the page load, click the link "FetchData", before it finished, quickly click "Home".

You`ll see the error on the console.
[code]
![2020-12-29 22 07 22](https://user-images.githubusercontent.com/520698/103289595-8b385380-4a22-11eb-8161-c7f9

[2020-12-29 16:17] simoneb commented on #371
The problem is in the response interceptor. We are [detecting if the error is caused by a cancellation](https://github.com/simoneb/axios-hooks/blob/master/src/index.js#L173) due to the component unmounting and avoiding the state update in that case.

See the [updated example](https://codesandbox.io/s/axios-hooks-configuration-example-forked-piup6?file=/src/index.js).

If you need to customize the

[2020-12-29 16:17] #371 closed

[2020-12-30 00:00] singleseeker commented on #371
wow, @simoneb , big thanks.

It works now.

[2020-12-30 00:04] simoneb commented on #371
You're welcome

[2020-12-31 15:49] dev-bjoern opened #372 "'loading' stays true when request with 'manual' option cancels"
In the below code example, if I call 'refetch' manually and it cancels (without a new 'refetch' happening) - then the loading state variable will stay true.

[code]

I think what causes the bug:
The refetch cancels because the 'iCanChange' param changes  (correct behavior).
No new 'refetch' is initiated because of the 'manual' option (correct behavior).
But now the 'loading' state stays true (fals

[2021-01-01 11:06] simoneb commented on #372
Interesting edge case, I think your analysis is right.

Do you think it is correct that since this is a manual operation, if `iCanChange` changes the operation is canceled?

[2021-01-01 13:59] chickenwing commented on #372
Canceling the operation, at least in my use case, was the desired behavior.

[2021-01-13 08:37] bananamboon commented on #30
hello guys, are there any developments for this issue?

[2021-01-13 19:36] ckeeney commented on #311
Is it possible to disable the server side behavior of this package?  A hook making requests server-side is pretty unexpected and I'd just prefer if this hook only worked client-side.

I looked for alternative packages, but this is the most mature axios hook package I could find.

[2021-01-13 21:56] simoneb commented on #311
You're right and long overdue. I don't have enough time to fix the problem itself but I introduced a way to disable ssr. See https://github.com/simoneb/axios-hooks/pull/374

[2021-01-14 10:30] simoneb commented on #311
@ckeeney please let me know if this works for you and I'll release it as 2.3.0.

[2021-01-14 16:35] ckeeney commented on #311
The change looks great to me.  Thanks.

[2021-01-14 18:16] ckeeney commented on #311
I'm not sure if this memory leak is still an issue, I haven't used a 2.x release since I opened this issue, but I do plan on using 2.3.x in the near future.  Feel free to close this if the memory leak issue has been solved.

[2021-01-14 18:19] simoneb commented on #311
Unfortunately it still is, this change is a workaround to let you disable SSR but also allows to set other options globally.

[2021-01-14 18:31] ckeeney commented on #311
That's alright.  Given the memory leak issue in v2, it may be best to just default SSR to false.  I know that's kind of a breaking change, but v2 is not really usable in production with the memory leak anyways IMO.

[2021-01-14 18:49] simoneb commented on #311
That's correct but I didn't want to release a major as I'm joking to fix the issue at some point. This release allows you to turn SSR off and bypass the issue until then.

[2021-01-19 11:07] dj-neza opened #376 "Is it possible to manually cancel the hook execution?"
Hi!
I'm wondering if there's a way to cancel the hook execution manually. In some cases I need to run the execute function within the useEffect hook based on some state changes and am getting the React warning if the component unmounts so I'd like to do the cleanup properly. I found examples to do this when using Axios requests but don't know how to approach it when using this hook.

[2021-01-19 11:30] simoneb commented on #376
It is currently not possible but it should be fairly easy to do. If you would like to send a PR the change should only be a matter of changing this line https://github.com/simoneb/axios-hooks/blob/20ebb993fa778b6000f1ef203bfc14225b64246b/src/index.js#L267

to return an additional array element which is the `cancelOutstandingRequest` function. It would need also some tests.

[2021-01-19 12:01] dj-neza commented on #376
@simoneb Sure I can do that. Not super sure what to do about testing though as I have no idea how to test this with the testing-library

[2021-01-19 12:06] simoneb commented on #376
you'll find plenty of test cases in index.test.jsx

[2021-01-20 08:52] dj-neza commented on #376
Ok will try to put something together in the upcoming days :)

[2021-01-20 08:53] simoneb commented on #376
Sure, let me know if you need any input. The production code change itself is very simple.

[2021-01-21 14:32] #145 closed

[2021-01-23 11:40] simoneb commented on #233
![](https://github.trello.services/images/mini-trello-icon.png) [https://github.com/simoneb/axios-hooks/issues](https://trello.com/c/wymdpjlW/15-https-githubcom-simoneb-axios-hooks-issues)

[2021-02-01 14:16] pkellner opened #377 "Memory leak problem with executePut similar to example"
My code is very similar to the code you have in your readme for executePut. The difference is I've consumed useAxios inside my own custom hook where I've exported my own `put` method.  I'm testing to see what happens if the component using `useAxios` is destroyed before `put` call completes and I was hoping that the `executePut would cancel but it does not seem to and I get the "memory leak from t

[2021-02-01 14:25] pkellner commented on #377
Just adding another comment about the issue.  I'm expecting that `successCallback` should never be hit when `await exectutePut` fails.  That is, I'm think what I want to happen is `executePut` fails and throws so that `successCallback` will not be called.

[2021-02-01 21:48] simoneb commented on #377
Hi Peter, nice having you here, I used to follow your blog maybe ten years ago or so when I was doing .NET, this is an unexpected and very welcome visit.

I tried to put together a repro of the issue [here](https://codesandbox.io/s/axios-hooks-issue-377-repro-srno3?file=/src/index.js).

To the best of my understanding axios-hooks is behaving as intended and I have a feeling that the issue might be

[2021-02-01 22:27] pkellner commented on #377
Thanks @simoneb . You are correct in that it's my issue.  I went back and verified with axios by itself.  The solution is very thorny because I have competing interests in my real problem.  React makes it hard to optimize performance and at the same time deal with things like cancellations effects.  I've got this now and your repro helps.  Thank you :).

BTW, I still do .net work (though don't blo

[2021-02-01 22:27] #377 closed

[2021-02-01 22:31] simoneb commented on #377
You're welcome, and congratulations for all the course work too.

[2021-02-03 16:48] vmlopezr commented on #376
Hi everyone, i'm interested in getting this implemented as well. And have the following changes in my [fork](https://github.com/vmlopezr/axios-hooks/tree/return-cancel-outstanding-request)

[code]
Let me know if this is along the lines of what you were thinking. If so I can submit a PR.

[2021-02-03 16:51] simoneb commented on #376
please submit a PR, it's the best way to discuss

[2021-02-07 11:55] simoneb commented on #376
Fixed in #378

[2021-02-07 11:55] #376 closed

[2021-02-07 11:56] simoneb commented on #364
SSR support does not fully work, unfortunately. There are a few open issues about this that you may subscribe to. One is https://github.com/simoneb/axios-hooks/issues/30

[2021-02-07 11:57] simoneb commented on #364
I'm closing this as duplicate of https://github.com/simoneb/axios-hooks/issues/30

[2021-02-07 11:57] #364 closed

[2021-02-07 11:59] simoneb commented on #346
I'm leaving this open because I'm not against having this behavior in the library, but unlikely that I will get around to implementing this anytime soon. If somebody wants to contribute this, happy to review it. If we do, it should be introduced in a reasonably non-intrusive way.

[2021-02-07 11:59] simoneb commented on #30
@bananamboon no developments unfortunately. I don't have enough time to spend on this myself and I would be happy to see a contribution to address this issue.

[2021-02-13 18:43] vmlopezr commented on #372
With the addition of the manual cancel return, this can be seen as well. When clicking the `cancel request` button the `loading` option stays true.

https://codesandbox.io/s/axios-hooks-manual-cancellation-forked-ry6xn?file=/src/index.js

Granted, the example is a different use case from the original post #376 where it was requested for cancelling a manual request on unmount.

[2021-02-14 08:35] simoneb commented on #372
A PR for this is very welcome

[2021-02-20 00:21] anh072 commented on #30
if the data is not fetched and HTML is not rendered on server side, then its not really SSR. the README says it supports SSR which is very misleading.

Any follow-up on this issue

[2021-02-26 15:52] morriq commented on #176
👍  for passing dynamic segment of url in manual invoke function.

something like:

`/api/users/:userId`

and then `run({ userId })`

[2021-03-02 23:27] kentongray opened #381 "Performance with Large Requests"
Hello again, we've been using axios-hooks for a bit and absolutely love it. However we are currently running into a bit of a performance issue where we have very large requests (the axios data prop) and (we think) because of the JSON.serialize on the memo dependency we are hitting some performance bottlenecks because of the constant serialization.

Any of these options would be fine with me:
1) A

[2021-03-03 08:06] simoneb commented on #381
Good catch. I think that the config serialization may not be necessary in fact, see https://github.com/simoneb/axios-hooks/pull/382. This would introduce a breaking change because if you were providing an object and mutating it, it would re-execute the request (because the serialized representation would change) whereas with this change it would not. But since all tests pass I guess we never reall

[2021-03-06 13:33] oddball opened #383 "uncaught (in promise)"
In my React app, with version 2.4.0, i got:

<img width="706" alt="Screenshot 2021-03-06 at 13 38 24" src="https://user-images.githubusercontent.com/1045794/110208630-a8f1c100-7e88-11eb-83f9-80b907be5c43.png">

[code]

Downgraded to 2.3.0 and had no problems

[2021-03-06 14:01] simoneb commented on #383
Can you provide an example to reproduce the problem?

[2021-03-06 16:59] oddball commented on #383
Sadly no. I got no debugging information at all

[2021-03-06 18:28] simoneb commented on #383
This is now fixed in 2.4.1

[2021-03-06 18:28] #383 closed

[2021-03-06 18:34] simoneb commented on #381
I had to revert the change done in 2.4.0, it was an oversight. Without that trick of serializing the configuration each time you'd render a component with a non primitive config (e.g. `{ url: 'whatever' }`) the hook would also rerender because it would detect a new configuration.

Release 2.4.1 fixes the regression, I'll release a new version with a different way of obtaining this optimization.

[2021-03-06 18:44] kentongray commented on #381
No prob! I actually tried it out and had the same experience was going to investigate and see if there was anything I was doing obviously wrong. Thanks again for your hard work on this very handy project

[2021-03-06 20:08] simoneb commented on #381
I have released prerelease version 2.5.0-0 which does deep object comparison instead of serialization. Can you try it out and let me know if it addresses the performance issue without introducing any issues?

[2021-03-06 21:45] kentongray commented on #381
@simoneb just tested on our app and so far seems flawless and the performance issue is resolved. I'll let you know if I see anything else but I think so far so good!

[2021-03-07 07:55] simoneb commented on #381
Let's let it settle for a little while before cutting a new release. If you could use this in your setup and let me know if you find any issues it would be great.

[2021-03-11 07:38] simoneb commented on #381
If no issue found I'll release this later today

[2021-03-11 17:18] thclark opened #384 "Response is undefined in the event of an error"
## Feature Request

In the event of an error, the `response` and `data` objects reurned by useAxios are undefined. I think this is intended behaviour, because the docs refer to `response` explicitly as the "Success response object".

I guess that makes this a feature request for the response object to contain the response irrespective of success state.

Without the full response in the event of an

[2021-03-11 21:52] simoneb commented on #384
In the case of an error, the error property of the hook return value is populated with the error full response, see:

https://github.com/simoneb/axios-hooks/blob/3bcd010d616b7bb9a94eeeb3a1993129b0c6f023/src/index.js#L154

Does this do what you need?

[2021-03-11 23:49] kentongray commented on #381
been running like a champ on our prod release, no issues found

[2021-03-11 23:50] #381 closed

[2021-03-12 07:46] simoneb commented on #381
Thanks for checking. I released a final version 2.5.0

[2021-03-12 09:28] thclark commented on #384
Hmm, yes, this appears to do exactly what I need. That's so obvious that I already tried it and "error" was simply a printed error summary, not a response object. So I think this is an upstream issue. I'll investigate and report back.

[2021-03-12 09:49] #384 closed

[2021-03-12 09:56] simoneb commented on #384
No problem, glad you found a solution.

[2021-03-15 10:59] rchavezj opened #385 "CORS Header ‘Access-Control-Allow-Origin’ missing"
Not so much of an issue but curious how we can configure the http request to support CORS header ‘Access-Control-Allow-Origin’ missing? When I execute the request the backend (python) I get all of my data and I'm trying to connect the api to the front end (react with axios-hooks) and i get an error for not enabling the CORS header

[2021-03-15 11:01] simoneb commented on #385
This has nothing to do with axios-hooks. CORS needs to be enabled in the server.

[2021-03-15 11:01] #385 closed

[2021-03-15 11:06] rchavezj commented on #385
Thats the weird part because i have http response of 200 in one language but not the same for react axios-hooks with 400

[2021-03-15 11:10] simoneb commented on #385
That it's not a CORS problem.

[2021-03-15 11:20] rchavezj commented on #385
Sounds like it's a proxy configuration issue. Someone updated the proxy on react package.json file and the CORS issue was fixed even tho it's not a server related issue.

https://www.youtube.com/watch?v=hxyp_LkKDdk&t=693s&ab_channel=HongLy

[2021-03-22 15:15] MichielDeMey opened #386 "Changes required for 2.5.0"
Hey guys

I noticed the new 2.5.0 version removes the JSON serialization, which is a really nice performance boost!
However, as a side-effect I have a component with an infinite re-render when upgrading.

I investigated this and found the part that was causing the re-renders.

Before, I had the following:
[code]

The issue here is that I was lazy and I used an anonymous function (with a state vari

[2021-03-22 22:40] simoneb commented on #386
Fair point, thanks for bringing this up. I added this to the docs [here](https://github.com/simoneb/axios-hooks#refresh-behavior) as it's worth mentioning explicitly.

[2021-03-22 22:40] #386 closed

[2021-03-25 20:59] rsdrsd opened #387 "Failing manual fetch after successful fetch doesn't clear data"
When I've done a successful manual fetch and after that I execute it again and if it than fails, the data is still filled with the data of the previous request. I would expect it to be undefined. The reverse works as expected. If I have a failed fetch and after that I do another fetch which succeeds the error is set to null.

Is this a bug or expected behavior?

[2021-03-25 23:20] simoneb commented on #387
This is expected and by design. There are reasons in favor of both options, none is necessarily more correct than the other. The reason why the error is reset (your second case above) is because you do want to know when a successful fetch happens, and you wouldn't know it if the error isn't reset. On the other hand, when a fetch fails but you have previously loaded data, you will still have that d

[2021-03-25 23:20] #387 closed

[2021-03-30 07:47] simoneb commented on #372
Reopening as the PR that closed this was reverted.

[2021-03-30 18:33] Anatoliy13Kravchenko opened #391 "No opportunity to intercept headers"
There is no opportunity to intercept headers in makeUseAxios. For example i made some exemplar from makeUseAxios factory with some appropriate strict settings, but in one of cases i only need to add/change header 'Accept': 'text/csv ' or else.

Example:

`import useAxios from './useAxios';
const useFetchProductsFile = (url: string) => {

    const [{ error, response, loading }, reFetch] = useAxios

[2021-03-31 07:12] simoneb commented on #391
Can you put together an example which reproduces the issue?

[2021-03-31 09:18] Anatoliy13Kravchenko commented on #391
https://codesandbox.io/s/blue-platform-ytps8
and as you can see, Headers, in our case exactly Accept, the same but not 'text/csv'
![image](https://user-images.githubusercontent.com/20690028/113120466-4935ce00-921a-11eb-922f-6afac4f42b07.png)

[2021-03-31 10:33] simoneb commented on #391
I set up a repro starting from your example, which shows that request headers are sent correctly.

https://codesandbox.io/s/funny-haibt-13mj0

If you're experiencing an issue it must be something in your code. I'm going to close this issue.

[2021-03-31 10:33] #391 closed

[2021-03-31 12:49] Anatoliy13Kravchenko commented on #391
Sorry, that you've wasted time, i suppose it's because of axios.interceptors. Great package  ,)

[2021-03-31 13:00] simoneb commented on #391
No problem, let me know if you figure out the issue.

[2021-04-03 08:55] rsdrsd opened #393 "Add interceptors to configuration object? Are the docs wrong?"
The docs state the following:

But for me it's no where to find how I can add an interceptor to a configuration object. I am wondering if this is even possible. What I can read from the official axios docs is that I only can add interceptors to the an axios instance using something like: ```axios.interceptors.request.use()```. So I have a few questions:

1. If I use ```axios.interceptors.request.u

[2021-04-03 08:57] simoneb commented on #393
You can use a custom axios instance, see [docs](https://github.com/simoneb/axios-hooks#makeuseaxios-cache-axios-defaultoptions-)

[2021-04-03 08:57] #393 closed

[2021-04-03 09:14] rsdrsd commented on #393
Well maybe you should remove the `axios interceptors` example from the docs, because this isn't possible and you don't need to memoize this function for this. Or what do you mean with this?

[2021-04-03 09:18] simoneb commented on #393
done

[2021-04-11 10:20] imekachi commented on #348
I have an issue when receiving a non-200 response while on server side rendering.

Instead of the hook catches all errors from fetching and put it in `error` object, it let the errors from executing axios pass through and break the node process(node v15) because of unhandled promise rejection.

As you can see in the terminal (I think you have to fork it to see it)
https://codesandbox.io/s/axios-ho

[2021-04-11 15:58] simoneb commented on #348
Other people have reported issues of various types around SSR, but nobody sent a PR to fix them. This issue may fall into that category and a PR would be greatly appreciated.

[2021-04-16 17:36] nickparkin opened #394 "Refetch throws a Unhandled Promise Rejection from stringify with React Native Flat Lists"
I have a basic flatlist in my code and it populates perfectly with useAxios. However, when I try call 'refetch' (exploded from useAxios), it throws the following error:

`[Unhandled promise rejection: TypeError: JSON.stringify cannot serialize cyclic structures.]`

Code to replicate as folllows (leaving off styling for ease of read):

[code]

[2021-04-16 18:07] nickparkin commented on #394
Ive noticed if I adjust accordingly:

[code]

In my button, I get a Network Error instead.

[2021-04-17 04:52] #394 closed

[2021-04-18 14:38] B-Esmaili opened #395 "transformResponse callback is not called."
I make a simple request with this library, response is received with 200 status but `transformResponse`  is not called.Following is my code snippet:

[code]
What is wrong with my code?

Here is a link for [sandbox](https://codesandbox.io/s/infallible-moon-bbwf0).

[2021-04-18 15:02] simoneb commented on #395
It goes into an infinite loop. See https://github.com/simoneb/axios-hooks#refresh-behavior

[2021-04-18 15:02] #395 closed

[2021-04-20 09:55] frankie567 opened #396 "Request is cancelled when setting paramsSerializer as anonymous function"
# Context

When setting the option `paramsSerializer` in the options as an anonymous function, the request is immediately cancelled after having being triggered.

If the function is defined outside (not in a component or a hook), it doesn't happen. It also doesn't happen if the function is wrapped inside a `useCallback` hook.

I suspect here that `axios-hooks` isn't able to detect that the functio

[2021-04-20 09:58] simoneb commented on #396
https://github.com/simoneb/axios-hooks#refresh-behavior

[2021-04-20 09:58] #396 closed

[2021-04-20 10:00] frankie567 commented on #396
Sorry, I didn't pay attention to this 😖 Thanks for the quick pointer!

[2021-04-20 10:03] simoneb commented on #396
Fair point though, it was a breaking change introduced in a non-major version.

[2021-04-22 09:13] Eshaan7 opened #397 "[Feature Request] Clear cache"
Not sure if it is in the scope, but I'd like a way/utility function that clears all cache. An example use case would be clearing all cache when the user logs out.

[2021-04-22 09:32] simoneb commented on #397
It's documented but `useAxios` exposes a `clearCache` function, see https://github.com/simoneb/axios-hooks/blob/master/src/index.js#L25.

A way to do it in a documented way is to provide a custom cache via either `configure` or `makeUseAxios`.

[2021-04-25 11:45] atinder commented on #359
Today, I came across the same use case where I needed to reset the data for a manual request.
I agree we can have additional useState in our app to handle this.

Although from the perspective of an end-user of the library, `reset` seems quite a handy helper, just like the `refetch`  function.

[2021-04-25 13:28] simoneb commented on #359
@atinder would you like to send a pull request? it should be fairly simple to implement

[2021-04-26 06:04] atinder commented on #359
sure @simoneb I'll peek into the source code this week.

[2021-04-26 17:29] onnobaudouin opened #398 "Not setting returned data when the http Status is not 'OK'"
When:

[code]
When the result is , e.g. HTTP STATUS 400+ `data` is not updated to the content of the return even if it contains valid JSON / other. (it remains at undefined).  It *seems* to check the HTTP Status code , then throws before handling the content?

HTTP has no issues with erroneous status codes return data.

Also:

-  if the first call completes successfully (200) then `data` is set co

[2021-04-26 17:58] simoneb commented on #398
What you describe is not necessarily right nor necessarily wrong, just an implementation decision. When the status code is not considered successful, the response is stored in the error property of the first item of the array returned by the invocation of the hook. The reason why the data stays there when an error occurs is because you may want to keep showing the previous successful response. Aga

[2021-04-26 18:41] Ashwinvalento opened #399 "Support for Parallel Requests"
My Scenario is as follows:  I need to make 2 GET API calls simultaneously on component mount and wait for both to finish and only then proceed with other logic.

Is there a way to make parallel API requests directly using axios-hooks or do I need to manage it myself?

[2021-04-27 07:17] simoneb commented on #399
Two HTTP requests are inherently two distinct "things", so they have to be handled explicitly. It shouldn't be too hard, you can use the loading flags of the two requests to check when they've completed, for example.

[2021-04-27 07:17] #399 closed

[2021-04-27 12:32] onnobaudouin commented on #398
@simoneb : thank you - i did not know the error is very much the 'axios' error. Personally i think 'data' should always return the 'data' of the call - it is not really ambiguous. I.e. my 'error' data should overwrite the previous data as that was result of that call. i.e. useAxios should not , imho make decisions about how the data is to be used, only represent the state of the XHR call? You *cou

[2021-04-27 13:15] simoneb commented on #398
The API is really simple actually and is in a sense consistent with axios. If the status code represents an error axios returns a rejected promise, and axios-hooks stores that in the error property. You could argue that axios' behavior of rejecting the returned promise in case the status code represents a failure is an implementation choice too, one which the native fetch doesn't do for example.
I

[2021-04-27 13:15] #398 closed

[2021-05-09 05:10] B-Esmaili opened #401 "How to get response status in case of 401 error?"
When I make a request and server response with a 401 error there is no way to get the status code from the response because response is undefined.

[2021-05-09 10:44] simoneb commented on #401
There's a section with a link to an example about error handling in the docs.

[2021-05-09 10:44] #401 closed

[2021-05-09 11:43] B-Esmaili commented on #401
I want to get a status code from an error, not an error message containing status ocde.

[2021-05-09 13:48] simoneb commented on #401
The error object is the axios error, meaning that if the error has a response the status code will be in the response property. See https://github.com/axios/axios#handling-errors.

I've also updated the example in codesanbox to show the error's status code.

[2021-05-10 07:20] B-Esmaili commented on #401
If mock-adapter is valid here I tested with it and I didn't get any status code in the error object. This is [link](https://codesandbox.io/s/axios-hooks-error-handling-forked-jksfb?file=/src/index.js) to the sandbox demo.

[2021-05-13 09:49] #146 closed

[2021-05-14 15:04] dandin84 commented on #346
Hi, thanks for the library!

This is my implementation according to the example mentioned. It actually seem to work :)

The only issue that I am struggling with is if I switch between pages before the refetch done, I am getting errors.
How would you suggest I should handle the unsubscribe/cancellation to prevent those errors?

**The implementation:**
![image](https://user-images.githubusercontent.

[2021-05-14 16:38] dandin84 opened #406 "Fetch on cache expired"
Hi, I probably missing something....

I am trying to reduce the cache maxAge hopping that on cache expired the data will fetch from the server instead of displaying from the cache. For testing I reduce the cache to 3 minutes but after 3 minutes there was no api call when reaching the page (unless I hard reload the app).

Is there a way to make sure that when the cache expired, the api call will in

[2021-05-14 17:01] simoneb commented on #406
The simplest way is to use the cache correctly. See the docs: https://www.npmjs.com/package/lru-cache

[2021-05-14 17:01] #406 closed

[2021-05-14 17:19] damianobarbati commented on #359
is this currently implemented?

[2021-05-14 17:22] damianobarbati commented on #359
@atinder keep in mind, with that signature, everybody using eslint and not using the `cancel` method will be forced to add `eslint-disable-line` to not have the `unused-vars` error.

[2021-05-14 18:00] dandin84 commented on #406
Sorry, apparently I had a misspell. Thanks for you quick reply and the cool library 👍

[2021-05-16 08:44] simoneb commented on #359
If somebody would like to send a pull request please do so!

[2021-05-16 08:53] simoneb commented on #346
You can simply swallow that error

[2021-05-18 10:34] ymor opened #413 "Specifying validateStatus on a manual request, instantly cancels the request"
Example codesandbox:
https://codesandbox.io/s/axios-hooks-manual-request-forked-dvl0t?file=/src/index.js

Issue:
When the validateStatus is configured at the useAxios level the request is automatically cancelled when you click "update data".

Expectation:
The request should not be cancelled.

Workaround:
Move validateStatus into the execution part of the manual request

[2021-05-18 13:37] simoneb commented on #413
see https://github.com/simoneb/axios-hooks/#refresh-behavior

[2021-05-18 13:37] #413 closed

[2021-05-18 14:02] ymor commented on #413
Thanks, Totally makes sense for an automatic request, but should this be the behaviour on a manual request?

[2021-05-18 15:06] simoneb commented on #413
debatable indeed. that's just how it works now

[2021-05-21 13:01] gutisalex opened #417 "Access Link of the request header"
Hey, is there a way to read the link from the header of a request? We are using link headers for pagination!

[2021-05-21 13:08] gutisalex commented on #417
I gonna answer this myself:

There is the response prop where you find headers :)

`const [{ response }] = useAxios(...)`

[2021-05-21 13:09] #417 closed

[2021-05-21 14:59] gutisalex opened #418 "Pass auth0 token using Auth0 React SDK"
Hey, I am using auth0 to secure my API. Auth0 provides the Auth0 React SDK which uses context and hooks.  I need the token set into the authorization header when fetching data from my API. Problem is getting the accesToken happens via hooks as well and is async. So I would have to get the token via useEffect and pass it to useAxios in the header. Unfortunatly this cannot work... Some knows a worka

[2021-05-21 15:03] simoneb commented on #418
Did you check out the authentication example in the docs?

[2021-05-21 15:08] gutisalex commented on #418
Yes I did but first off I would not want to put any sensitive data into local storage and second in this context I dont have access to the token of auth0 at all. They use a hook to get the token:

[code]

https://auth0.com/docs/quickstart/spa/react/02-calling-an-api#get-an-access-token

[2021-05-21 15:11] simoneb commented on #418
You don't have to use local storage once you get it, you can store it anywhere. This is not a question about the library anyway, closing.

[2021-05-21 15:11] #418 closed

[2021-05-24 23:24] michaelryancaputo opened #422 "useAxios "execute" not returning how the documentation suggests."
Hello!
Based on the documentation located [here](https://github.com/simoneb/axios-hooks#useaxiosurlconfig-options), I would expect the `execute` call of `useAxios` to return the response value like this:

[code]

I understand that there is the response `data` provided within the object (next to `error`) - just would like to point out, that the docs read in a way where the above should be possible.

[2021-05-25 07:29] simoneb commented on #422
The docs look correct to me. Awaiting the invocation of the execute function returns:

[2021-05-25 07:29] #422 closed

[2021-05-29 18:09] roeniss commented on #164
@simoneb I think this is more like react issue, but anyway.

I had almost the same problem -- I request a wrong URL, which does not exist, then axios literally died and my NextJS server also died.

logs:
[code]

I don't think this is normal behavior. Axios dosen't return error, just die with react.

[2021-05-30 09:33] simoneb commented on #164
This is a bug in your code. Neither axios or react simply "die".

[2021-05-30 10:55] roeniss commented on #164
@simoneb Thank you for reply. It was actually ssr issue. when I set option `{ssr: false}` that problem was gone.

I think nextJS or some ㅐㄹ my unconscious setup make axios do a job at server-side.

[2021-06-01 23:52] vsurge commented on #82
Having the same issue

[2021-07-08 15:17] aminmc opened #474 "Conditional and chaining"
Hi there

I have the following scenario:

1) Get all tasks
2) Get all process for each task

So the first call looks like this:

[code]

What I'd like to do is execute the second call only if tasks length is not 0.

[code]

The second call doesn't seem to work as it gets executed with an empty array.

axiosHook is created like this:

[code]

Is there a way to make the second call conditional?

Any

[2021-07-09 08:56] aminmc commented on #474
Hello,

I'm closing this issue. It was user error and worked out how to do it. the manual code bit was wrong.

Thanks

[2021-07-09 08:56] #474 closed

[2021-07-09 08:59] #397 closed

[2021-07-15 07:55] wjureczka commented on #134
I would love to have such support!

[2021-07-15 11:04] simoneb commented on #134
Would you like to send a pill request?

[2021-07-24 13:07] Lekha30 commented on #28
The codesand link above isn't working. I want to do a refetch triggered automatically after a POST.

[2021-07-24 13:18] Lekha30 opened #489 "Refetch doesn't pull out newly posted data"
I am Posting new Data manually and triggering a refetch after posting. The refetch is not fetching the latest data. It only has the stale data.

Any help is appreciated.

[2021-07-24 15:28] simoneb commented on #489
You must skip the cache, this is thoroughly described in the docs

[2021-07-24 15:28] #489 closed

[2021-08-18 02:06] #346 closed

[2021-08-18 02:06] #342 closed

[2021-08-18 02:06] #343 closed

[2021-08-18 02:06] #311 closed

[2021-08-18 02:06] #218 closed

[2021-08-18 02:06] #264 closed

[2021-08-19 02:05] #30 closed

[2021-08-19 02:05] #4 closed

[2021-08-19 08:51] dandin84 commented on #346
Cool, thats what I did, thanks :pray:

[2021-08-22 11:49] raviSussol opened #524 "How to do the post request using this useAxios hook"
The guide or example shown in the home page of this repo has just an example for the `put` request but its data is also depends on the data fetched by the `get` request at initial when using the `useAxios` at the top first time.
[code]
 So I was wondering about how can I do the `post` request without using the `get` request at initial at the top of the react component but directly use the `useAxio

[2021-08-22 11:52] simoneb commented on #524
Can you clarify what you're trying to do? An annotated example on codesandbox will do.

[2021-08-23 11:54] raviSussol commented on #524
@simoneb Never mind. I was actually playing with this [example](https://codesandbox.io/s/axioshooks-manual-request-bq9w4) - trying to modifying with the `POST` request and then wanted to see the output in the state variables (like `data`, `error`, ...) right after its call in the `executePost` method without using the `useAxios` hook with `get` at the top. Then I caught those state variables throw

[2021-08-23 12:03] simoneb commented on #524
No problem.

[2021-08-23 12:03] #524 closed

[2021-08-28 14:52] Resetand opened #532 "Allowing users to skip default cancellation before each request"
Hi, recently i faced with need to skip default cancellation before each request.
There is a proposal to use cancelPrev, by default it is set to true.

[2021-08-29 19:17] #532 closed

[2021-10-29 09:30] gkmadushan opened #609 "autoCancel:false not working"
In some specific requests we want to prevent autoCancel when navigating to different route thought the react-router-dom.

sample code

`const [{ data, loading, error, response }, requestHandler] = useAPI(
    {method: "POST",
      url: "/selections",
      data: {
        id: id,
      }},
    { manual: true, autoCancel:false }
  );`

another try with configuration
`
const defaultOptions  = { man

[2021-10-30 17:00] vladi-strilets opened #610 "Type safe for axios data param in AxiosRequestConfig"
### Idea
Would be great to have the typescript type-safe autocomplete support for AxiosRequestConfig<D>.

### Example of use:

[code]

[code]

### Solution
Update UseAxios and UseAxiosResult interfaces:

[code]

[2021-10-30 17:21] vladi-strilets commented on #610
Maybe it should go in 3rd position to avoid creating breakchanges.

[2021-10-30 17:30] vladi-strilets commented on #610
It's required to have Axios v0.23.0+ as this type `<D>` was defined in [this commit](https://github.com/axios/axios/commit/28a06e6d95b6a8d4f65148743683e85b90719352), labeled as `v0.23.0`, `v0.24.0`

[2021-10-30 17:41] simoneb commented on #610
Would you like to send a PR?

[2021-10-30 17:54] vladi-strilets commented on #610
@simoneb
Sure!
Could you say your npm version for this project, please?

[2021-10-30 18:08] simoneb commented on #610
Node 14, which ships with npm 6. See: https://github.com/simoneb/axios-hooks/blob/83d84d533618aad8c4b6eb6635537ff08111c3ce/.github/workflows/ci.yml#L15

[2021-10-30 18:15] simoneb commented on #609
Can you provide a repro?

[2021-10-31 18:43] #610 closed

[2021-11-02 13:29] Kamahl19 opened #620 "Canceling not working"
When I open the candbox mentioned in readme https://codesandbox.io/s/oqvxw6mpyq and double click the Fetch button, the app crashes instead of canceling the first request and succeeding the second

[2021-11-02 14:32] simoneb commented on #620
That's the expected behavior because you're triggering another request while the previous one is in progress, leading to a cancellation which throws an error that you need to handle, since you triggered the second request manually.

[2021-11-02 14:39] #620 closed

[2022-01-06 02:26] #609 closed

[2022-02-03 17:44] eelkevdbos opened #726 "Response contamination when using axios-hooks with testing-library due to LRU cache"
The useAxios hook uses a LRU cache by default. When writing tests, the cache is not invalidated between tests (at least not with testing-library). This makes previous responses "bleed" into subsequent tests. This behavior can easily be disabled in the test suite setup with the following:

[code]

I'm not sure if it deserves a place in the docs, but I thought I would mention it here to -- possibly

[2022-02-03 17:49] simoneb commented on #726
It would be great to include this in the docs. Would you like to send a PR?

[2022-02-03 18:06] eelkevdbos commented on #726
Yes, I'll work on one 👍

[2022-02-09 17:00] jackhelodeon opened #735 "Uncaught Error: Objects are not valid as a React child"
I'm trying to centralise the API endpoints into a single file and then import them however it seems this library doesn't support that. Is there any other way of achieving my goal/am i going the wrong way about it or is it possible for this to be a future enhancement?

I get this error from the code below
`Uncaught Error: Objects are not valid as a React child (found: Error: Request failed with sta

[2022-02-09 17:55] simoneb commented on #735
This is a problem in your code. You're trying to render `error` which is an object, hence React complains.

[code]

[2022-02-09 17:55] #735 closed

[2022-02-15 07:35] HonzaTuron commented on #383
@simoneb unfortunately I'm still able to reproduce this issue in 3.0.0. Uncaught promise error is shown once component is unmounted and response started but didn't finish yet.

[2022-02-16 02:30] vmlopezr opened #744 "Feature Request: Clearing specific cache key"
When using lru cache, it looks like the config object is stringified for the key.

https://github.com/simoneb/axios-hooks/blob/6f060a20db7cb4ca70bd06315e05ff0a847ebd4d/src/index.js#L48

In my project i have a need to clear the cached value so that i can fetch new items. At the moment the way we're doing this is by purging the entire cache.

Would it be possible to either:
1. Add a config option fo

[2022-02-16 11:26] simoneb commented on #726
@eelkevdbos any updates?

[2022-02-16 11:27] simoneb commented on #383
@HonzaTuron do you have a repro?

[2022-02-16 11:34] HonzaTuron commented on #383
@simoneb I have following:

- useAxios hook (manual: false) in another custom hook
- Custom hook mounted in component

Then, once component is unmounted and request didn't finish yet, promise error shows in console.

[2022-02-18 08:26] M1ck0 opened #748 "Can't install axios-hooks because of dependency error"
Here is a log when trying to install package with `npm i axios-hooks`

![image](https://user-images.githubusercontent.com/19279947/154645442-541c43d3-4888-4fbd-8459-b945ec5461a2.png)

Any ideas why is this happening? I really don't want to use `--force` or `--legacy-peer-deps`.

`axios`: `0.26.0`
`react`: `17.0.1`
`react-dom`: `17.0.1`
`npm`: `8.1.2`
`node`: `16.3.1`
`OS`: `Linux`

[2022-02-18 09:28] #748 closed

[2022-02-22 02:05] cuongurus opened #755 "Canceled message undefined when using onUploadProgress config"
Request got canceled with message undefined when using onUploadProgress config from version 2.5.0 and above, 2.4.1 work fine
[code]

[CodeSanbox example](https://codesandbox.io/s/axios-hooks-manual-request-forked-crc7ik?file=/src/index.js)

[2022-02-26 08:37] github-actions[bot] opened #765 "Release pending!"
### Pending commits since release [v3.0.1](https://github.com/simoneb/axios-hooks/releases/tag/v3.0.1)

Unreleased commits have been found which are pending release, please publish the changes.

  * [987b34b](https://github.com/simoneb/axios-hooks/commit/987b34b2cd2823f30c0951796d9e38ac3d310799) chore: support react 18 as peer dependency (#851)
  * [d671c8e](https://github.com/simoneb/axios-hooks/

[2022-02-26 14:43] rohan-rest-art opened #766 "'error' stays true in 'options change detection' example"
The examples block contains a link 'Options change detection':
https://codesandbox.io/s/axios-hooks-options-change-v23tl
I found an issue in this example.

How to reproduce:
* Follow the link above.
* Submit a request with user id '1'.
* Shows data for user id '1'. Works good.
* Submit a request with user id '2'.
* Shows data for user id '2'. Works good.
* Submit a request with user id '2222222222

[2022-02-27 12:56] simoneb commented on #766
Thanks for reporting this. This looks like a bug in the cache. Would you like to submit a PR to fix it?

[2022-03-06 22:56] moas opened #775 "Render Error exception"
Hi

I implement a refresh token via axios interceptor like:

[code]

But I receive an exception

[code]

I was hoping to trigger a modal above the current page. Can you help me understand my mistake and fix it ?! thx

[2022-03-09 09:24] vladi-strilets commented on #775
This error is from your component code, it is not related to the `axios-hooks` or `axios.interceptors`.

[2022-03-09 09:44] simoneb commented on #775
The problem you're seeing is because you're not respecting axios interceptor's invariants. From a response interceptor you should return a promise which is a proper axios response, or an error. I appreciate this is not clearly stated in the axios docs and by reading your code I cannot see exactly which line of code is causing the issue, but I believe that returning a plain `Promise.resolve` is one

[2022-03-09 09:46] simoneb commented on #775
@moas I'm going to close this issue, in the docs there is a working example of token refresh which should put you on the right path.

[2022-03-09 09:46] #775 closed

[2022-04-28 01:40] Resetand opened #845 "Suggestion: upgrade lru-cache and use lru-cache/browser"
Hi, i'd like to suggest you to use the new version of lru-cache and start using `lru-cache/browser` instead of `lru-cache`

[lru-cache v7.4.0](https://github.com/isaacs/node-lru-cache/blob/main/CHANGELOG.md#740)

[2022-04-28 07:56] simoneb commented on #845
What's the advantage?

[2022-05-01 16:21] moclei opened #852 "peerDependancies specifies react ^16.8.0 and ^17.0.0, but react 18 is out and is incompatible"
Update peerDependancies to:

  `"react": "^16.8.0-0 || ^17.0.0" || ^18.0.0 `

  or simply:

    `"react": ">16.8.0-0"`

[code]

[2022-05-02 08:15] #852 closed

[2022-05-03 08:43] #765 closed

[2022-05-09 06:41] singleseeker commented on #755
have the same issue.

[2022-05-09 08:02] singleseeker commented on #755
@simoneb sorry to trouble you, any idea about that?

[2022-05-10 08:42] github-actions[bot] opened #865 "Release pending!"
### Pending commits since release [v3.0.2](https://github.com/simoneb/axios-hooks/releases/tag/v3.0.2)

Unreleased commits have been found which are pending release, please publish the changes.

  * [d49baa6](https://github.com/simoneb/axios-hooks/commit/d49baa6a1590224f9e341f3f9be49f634663e853) chore(deps-dev): bump @types/react from 18.0.8 to 18.0.9 (#864)
  * [ec880a3](https://github.com/simone

[2022-05-10 10:14] simoneb commented on #755
See the notes in https://github.com/simoneb/axios-hooks#refresh-behavior. IoW, functions provided as options need to be memoized. I'll close this issue because I think that's the issue, but please reopen if that doesn't solve it.

[2022-05-10 10:14] #755 closed

[2022-05-11 08:45] #865 closed

[2022-05-17 09:58] KyorCode commented on #766
Its still a bug and a pretty annoying one. :/

[2022-05-17 12:48] kwiat1990 commented on #489
I have added `useCache: false` to a sandbox with the manually triggered request but the old data doesn't refresh. I was expecting something like what we get in `swr` package when calling `mutate`.

[2022-05-18 15:38] Resetand commented on #845
`Add browser optimized webpack bundle, exposed as 'lru-cache/browser'`

[2022-05-19 08:44] github-actions[bot] opened #883 "Release pending!"
### Pending commits since release [v3.0.3](https://github.com/simoneb/axios-hooks/releases/tag/v3.0.3)

Unreleased commits have been found which are pending release, please publish the changes.

  * [12de65f](https://github.com/simoneb/axios-hooks/commit/12de65fb9b0f4039eafe2f4960fb981ef3816c81) chore(deps-dev): bump @types/node from 17.0.34 to 17.0.35 (#884)
  * [d0be11b](https://github.com/simon

[2022-05-20 15:46] simoneb commented on #845
@Resetand Would you like to send a PR to do this?

[2022-05-21 08:43] #883 closed

[2022-05-28 14:45] sujeet-agrahari commented on #83
What if it throws `400`, a bad request, and we want to show the error message to the user? I am having the same issue.

[code]
...and here I call `executeUpdate`. I thought `error` will be the updated error but that line,`if (error) { ...do something }`,never gets executed as promise is rejected.

[code]
Is there a way we could silence the error from `executeUpdate` and get the error from state `e

[2022-05-28 14:47] sujeet-agrahari opened #902 "Handle 400 errors thrown by execute method"
I know there is thread regarding the same issue. But it tells to silence the error. I don't understand why?

What if it throws `400`, a bad request, and we want to show the error message to the user? I am having the same issue.

[code]
...and here I call `executeUpdate`. I thought `error` will be the updated error but that line,`if (error) { ...do something }`,never gets executed as promise is rej

[2022-05-29 04:25] sujeet-agrahari opened #903 "Component doesn't re-render on follow up request after token refresh"
This is my `axios-hoook.js`

[code]
This is the `Course.jsx` where it is being used.
[code]
[Image](https://ibb.co/nm7j7MJ)

[2022-05-29 20:57] simoneb commented on #903
Please provide a repro in a codesandbox, see examples in the readme

[2022-05-29 20:57] simoneb commented on #902
wrap it in a try/catch block

[2022-05-29 20:57] #902 closed

[2022-05-30 00:07] sujeet-agrahari commented on #903
Here is what happening I guess.  It's not possible to create a sandbox.

When an api calls fails on an expired access token, it makes a call to refresh token and gets new access token.

After getting access token a follow up call is made to previous api. I think on success of this api, `axios-hook` doesn't update the status of the response. That's why component doesn't re-render.

You can see in t

[2022-05-30 08:00] simoneb commented on #903
There's an example specifically about this in the examples section of the docs https://github.com/simoneb/axios-hooks#examples

[2022-05-30 08:00] #903 closed

[2022-05-31 08:46] github-actions[bot] opened #906 "Release pending!"
### Pending commits since release [v3.0.4](https://github.com/simoneb/axios-hooks/releases/tag/v3.0.4)

Unreleased commits have been found which are pending release, please publish the changes.

  * [bf27e80](https://github.com/simoneb/axios-hooks/commit/bf27e80e8dd4fdbe6c987bc57578d0b55887d758) chore(deps-dev): bump @types/node from 17.0.35 to 17.0.36 (#904)
  * [065687b](https://github.com/simon

[2022-05-31 10:23] #766 closed

[2022-06-01 08:50] #906 closed

[2022-06-01 13:27] simoneb commented on #766
This is now fixed, lmk if the new version works for you

[2022-06-02 06:04] sujeet-agrahari commented on #903
I used the same example. Please have look at the code.

[2022-06-02 08:05] simoneb commented on #903
Your code is doing nothing because you're using axios and axios-hooks independently. If you need to tell axios-hooks to use your axios instance. See https://github.com/simoneb/axios-hooks#configure-cache-axios-defaultoptions-

[2022-06-02 08:43] sujeet-agrahari opened #915 "Component doesn't re-render on follow up request after token refresh"
This issue is linked to  [this issue](https://github.com/simoneb/axios-hooks/issues/903)

I did follow what you suggested, passing a new instance and using `makeUseAxios`. I also tried using `configure()`.

1. Using `configure()`

[code]
2. Using `makeUseAxios()`

[code]

It still doesn't update the `courses` state and still, the issue is the same: Once the refresh token API fails and gets courses

[2022-06-02 08:56] simoneb commented on #915
I'm warning you for the last time and then you'll be blocked from any other interactions on this repository. Provide a reproducible example or stop opening issues.

[2022-06-02 09:17] sujeet-agrahari commented on #915
Sorry @simoneb. I have shared whole repo link in the previous issue. I will share it here again.

https://github.com/sujeet-agrahari/nitt-frontend/tree/react-hooks

Also, I am not the only one facing the issue. Check the comment on the post
https://stackoverflow.com/questions/72420926/component-doesnt-re-render-on-follow-up-request-after-token-refresh?noredirect=1#comment127956674_72420926

[2022-06-02 09:22] simoneb commented on #915
This is not a reproducible example, this is your whole application and I'm not your personal debugger. Narrow down the issue to a minimal reproducible example which runs on codesanbox and I will have a look, but most likely you'll figure out you're doing something wrong, which is why you shouldn't expect me to figure it out for you. The example in the docs works, meaning that you are doing somethi

[2022-06-02 12:38] #915 closed

[2022-06-09 08:45] github-actions[bot] opened #924 "Release pending!"
### Pending commits since release [v3.1.0](https://github.com/simoneb/axios-hooks/releases/tag/v3.1.0)

Unreleased commits have been found which are pending release, please publish the changes.

  * [66685c9](https://github.com/simoneb/axios-hooks/commit/66685c9cd145bbd2ba6585041201b405bcdabbcc) chore(deps-dev): bump @types/node from 17.0.40 to 17.0.41 (#923)
  * [16a7d00](https://github.com/simon

[2022-06-10 08:41] #924 closed

[2022-06-13 21:54] ayoubkhan558 opened #930 "Please method POST example in readme.md"
Please method POST example in readme.md

[2022-06-16 12:29] ayoubkhan558 opened #934 "How to call it on click of a button"
How to manullay call api request on click of a button?

[2022-06-16 12:35] #934 closed

[2022-06-16 13:09] ayoubkhan558 opened #935 "Very bad that you locked the conversation."
Shame on you.
I like this repo And tried to contribute to it.

[2022-06-16 13:10] ayoubkhan558 opened #936 "Execute API call on click of a button"
**We can call request manually with a click of a button:**

[code]

[code]

[2022-06-16 13:33] ayoubkhan58 opened #937 "Very very shame on you."
Very very shame on you.
You restricted me. How many accounts you will restrict?

What kind of man you are???

you bloody fool.

[2022-06-16 13:59] simoneb commented on #937
I'm blocking this issue and reported you to GitHub.

[2022-06-16 13:59] #937 closed

[2022-06-17 08:42] github-actions[bot] opened #941 "Release pending!"
### Pending commits since release [v3.1.1](https://github.com/simoneb/axios-hooks/releases/tag/v3.1.1)

Unreleased commits have been found which are pending release, please publish the changes.

  * [9096ada](https://github.com/simoneb/axios-hooks/commit/9096ada72b8f0768684b2b705da41951ab4a3edc) chore(deps-dev): bump @types/node from 17.0.43 to 18.0.0 (#939)
  * [6774042](https://github.com/simone

[2022-06-18 08:40] #941 closed

[2022-06-25 08:40] github-actions[bot] opened #953 "Release pending!"
### Pending commits since release [v3.1.2](https://github.com/simoneb/axios-hooks/releases/tag/v3.1.2)

Unreleased commits have been found which are pending release, please publish the changes.

  * [7ed5d9e](https://github.com/simoneb/axios-hooks/commit/7ed5d9ead645640b53ef81cd1c14de4e4bb1fe3e) chore(deps): bump nearform/optic-release-automation-action from 2 to 3 (#952)
  * [40c9534](https://git

[2022-06-26 08:39] #953 closed

[2022-07-05 08:42] github-actions[bot] opened #970 "Release pending!"
### Pending commits since release [v3.1.3](https://github.com/simoneb/axios-hooks/releases/tag/v3.1.3)

Unreleased commits have been found which are pending release, please publish the changes.

  * [72acecd](https://github.com/simoneb/axios-hooks/commit/72acecdd8c8df35ca9fb39ac99b2453eef2ab0e4) chore(deps-dev): bump @types/node from 18.0.0 to 18.0.1 (#969)
  * [403f80a](https://github.com/simoneb

[2022-07-08 20:37] lfender6445 opened #975 "Trouble with looped requests"
I'm having trouble getting axios-hooks to play nicely with a non-axios hook request when they are executed one after the other in a loop

[code]

The non axios request looks something like this:

[code]

In this case `props.dispatchAxiosFetch` returns undefined which is fine, but the request never appears in the network panel. The problem exists for any order of requests exceeding an array size of

[2022-07-09 15:49] gumitrathore opened #976 "handle (failed)net::ERR_CONNECTION_TIMED_OUT"
not able to catch error and breaking at
`Uncaught TypeError: Cannot read properties of undefined (reading 'data')
    at reducer (index.js:167:1)
    at updateReducer (react-dom.development.js:15318:1)
    at Object.useReducer (react-dom.development.js:16425:1)
    at Object.useReducer (react.development.js:1512:1)
    at useAxios (index.js:274:1)`

[2022-07-10 21:02] simoneb commented on #975
can you please provide a running repro? e.g. in codesandbox

[2022-07-10 21:02] simoneb commented on #976
can you please provide a running repro? e.g. using codesandbox

[2022-07-13 08:43] github-actions[bot] opened #978 "Release pending!"
### Pending commits since release [v3.1.4](https://github.com/simoneb/axios-hooks/releases/tag/v3.1.4)

Unreleased commits have been found which are pending release, please publish the changes.

  * [d42b3a5](https://github.com/simoneb/axios-hooks/commit/d42b3a5f9dc27ed8d8bac4e7244e9421493f7fe2) chore(deps-dev): bump @types/node from 18.7.13 to 18.7.14 (#1024)
  * [5ba820a](https://github.com/simo

[2022-07-21 01:41] beauwilliams opened #991 "Type error: MouseEvent using refetch and provided example from docs"
[code]

[2022-07-21 08:43] simoneb commented on #991
Would you like to send a PR? We support sending events to the refetch function for convenience (so it can be used in event handlers) but this is apparently not reflected in the types. It should be a fairly straightforward change.

[2022-07-21 14:43] spogulis commented on #82
Still an issue with both `executeGet` and `execute` methods returned by:

[code]

Strangely post method works just fine whereas binding `executeGet` to `onClick` of a Button element does nothing.

[2022-07-21 14:44] spogulis opened #992 "Still an issue with both `executeGet` and `execute` methods when executed manually"
Still an issue with both `executeGet` and `execute` methods returned by:

[code]

Strangely post method works just fine whereas binding `executeGet` to `onClick` of a Button element does nothing.

_Originally posted by @spogulis in https://github.com/simoneb/axios-hooks/issues/82#issuecomment-1191573082_

[2022-07-21 16:32] simoneb commented on #992
Please provide a repro, I already posted in the original request an example showing that it works.

[2022-07-23 10:05] spogulis commented on #992
The repro you posted is not available.

[2022-07-23 12:58] simoneb commented on #992
Here's the repro. Note though that since you are reporting an issue, you are expected to provide a repro.

https://codesandbox.io/s/issue-82-repro-v0z6d6?file=/src/index.js

[2022-07-25 18:10] spogulis commented on #992
Thank you.

[2022-07-25 18:10] #992 closed

[2022-07-25 18:28] spogulis commented on #975
Is it actually possible to send looped requests with this library?

[2022-07-26 08:52] simoneb commented on #975
Yes, if you invoke the function to execute a manual request recursively for example.

[2022-07-26 08:52] simoneb commented on #975
I'm closing this issue for lack of activity. When reporting an issue please include a repro. If you do, you will most likely discover that the issue is in your code.

[2022-07-26 08:52] #975 closed

[2022-07-26 11:27] spogulis commented on #975
How would one await for each promise to resolve in that case? And how to access the data? Wouldn't the data object change each time the `execute` method is called? Let's say each request returns an object.. If you define the hook as:
[code]

and call it, for example, in `useEffect`:
[code]

[2022-09-01 08:46] #978 closed

[2022-09-08 08:46] github-actions[bot] opened #1034 "Release pending!"
### Pending commits since release [v3.1.5](https://github.com/simoneb/axios-hooks/releases/tag/v3.1.5)

Unreleased commits have been found which are pending release, please publish the changes.

  * [bf19d2e](https://github.com/simoneb/axios-hooks/commit/bf19d2e8ba6dd1be18bb61e3eadfefed0715f76c) chore(deps-dev): bump eslint from 8.23.1 to 8.24.0 (#1053)
  * [5df3902](https://github.com/simoneb/axi

[2022-09-13 13:28] eurobob opened #1041 "Refetch "expression is not callable""
I am wrapping axios-hooks in my own custom hook, which is then called by other hooks to fetch data based on specific API configurations

[code]

I then call this data inside a component:

[code]

And finally, when some sorting parameters change I want to refetch:

[code]

But typescript is complaining:

This expression is not callable.
  Not all constituents of type 'ResponseValues<any, QueryParam

[2022-09-13 13:33] eurobob commented on #1041
Update: first i assign "useAxios" to a variable and return that, then additionally destructure for the internal refresh, but still seems a bit odd to me

[2022-09-13 13:48] simoneb commented on #1041
Please provide a repro. Without that, the only reasonable assumption is that you're getting types wrong in your code. This is the type definition for the refetch function https://github.com/simoneb/axios-hooks/blob/master/src/index.d.ts#L37-L40

[2022-09-16 04:08] #976 closed

[2022-09-28 17:09] #991 closed

[2022-09-29 08:55] #1034 closed

[2022-09-29 10:36] gremo opened #1061 "Why I'm getting 2 rendered using this hook, when component mounts?"
Plain simple:

[code]

The profiler shows 3 renders: first one it's the initial rendering. Second and third are from "**Hook 8 changed**". Why?

![image](https://user-images.githubusercontent.com/1532616/193009377-ab92ec52-f785-42fc-aad7-7535f89f88ac.png)

Hook 8 is:

![image](https://user-images.githubusercontent.com/1532616/193009521-34fa662e-8149-42f5-bd6b-94adfa94c13d.png)

[2022-09-29 11:20] gremo commented on #1061
@simoneb not sure about that. I use for testing another hook ([use-http](https://github.com/ava/use-http)):

` const { loading, error, data } = useFetch('https://dummyjson.com/products', {}, []);`

Why this hook only trigger 1 render? Two in total...

[2022-09-29 14:04] simoneb commented on #1061
can you provide a repro?

[2022-09-29 19:01] gremo commented on #1061
@simoneb I really appreciate your work, and OS software in general. For me, and maybe for you, it's more than a work. So I suggest you not to close an issue after five minutes, making assumptions about other's project/setup.

Yes, I maybe a beginner in React but I'm not completely dumb.

1. Yes, I'm using React 18 (but you didn't know)
2. I'm not using strict mode, neither in that component nor up

[2022-09-29 19:57] #1041 closed

[2022-09-29 20:03] simoneb commented on #845
This is now solved in v4, by upgrading to the latest lru-cache which, by now, has removed the browser specific export

[2022-09-29 20:03] #845 closed

[2022-09-29 20:32] simoneb commented on #1061
I see your point, I had assumed React 18 was the cause. I've had a look at your repro and it looks legit. This seems to be causes by an improper handling of the state of the initial request.

Would you be interested in submitting a PR to fix this?

[2022-09-29 21:41] gremo commented on #1061
@simoneb thanks but I really can't, my experience with React isn't advanced yet! Hope to see a fix soon (or revert to a previous version maybe?)

[2022-10-07 07:50] gremo commented on #1061
Any  update @simoneb ?

[2022-10-07 08:06] simoneb commented on #1061
@gremo I didn't have a chance to look into it, but why don't you give it a go? I think it might be pretty simple. If the new state object is the same as the existing, don't change the state :)

[2022-10-07 08:51] github-actions[bot] opened #1068 "Release pending!"
### Pending commits since release [v4.0.0](https://github.com/simoneb/axios-hooks/releases/tag/v4.0.0)

Based on the following commits, a **minor** release is recommended.

Unreleased commits have been found which are pending release, please publish the changes.

  * [82a3316](https://github.com/simoneb/axios-hooks/commit/82a33164faadbd23e5ef1a95c41b41ea40df2752) chore(deps-dev): bump @types/node

[2022-10-09 13:32] Paola3stefania commented on #1061
Hello ! For what we have been researching with @cherrerotinoco It has to be with how the initialState its hanlded with manual false (automatic ), you can prevent this refetching error with `(manual: true) ` while waiting for a new PR

[2022-10-31 17:06] stefan-girlich opened #1098 "Prevent CanceledError and redundant HTTP calls for identical request data"
## scenario
### library versions
the issue appears for these two sets of configurations:

[code]

### axios-hooks configuration
- `manual: false`, as i require full control of when requests are executed; configured via `makeUseAxios`
- `autoCancel: true`, default value

### code sample
[code]

### behaviour
- the `useEffect()` callback function is called multiple times, invoking `refetch()` multip

[2022-11-05 14:06] jeffcjohnson commented on #1098
I think you may have meant to set {manual: true} so that it only executes when you call refetch.  In my experience, refetch will bypass cache and execute even if all params are the same as the last execute.

There's another neat pattern where you can have it only execute if someId is valid without useEffect:

[code]

The code above will set manual true when someId is falsy and therefore not call t